In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from timple.timedelta import strftimedelta

import fastf1 as f1
import fastf1.plotting
from fastf1.core import Laps

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [2]:
schedule2022 = f1.get_event_schedule(2022)
schedule2022[schedule2022['EventName'] == 'Spanish Grand Prix']

req         WARNING

DEFAULT CACHE ENABLED!
	Cache directory: C:\Users\usuario\AppData\Local\Temp\fastf1.
	Size: 656.2 MB

,RoundNumber,Country,Location,OfficialEventName,EventDate,EventName,EventFormat,Session1,Session1Date,Session1DateUtc,Session2,Session2Date,Session2DateUtc,Session3,Session3Date,Session3DateUtc,Session4,Session4Date,Session4DateUtc,Session5,Session5Date,Session5DateUtc,F1ApiSupport
7,6,Spain,Barcelona,FORMULA 1 PIRELLI GRAN PREMIO DE ESPAÑA 2022,2022-05-22,Spanish Grand Prix,conventional,Practice 1,2022-05-20 14:00:00+02:00,2022-05-20 12:00:00,Practice 2,2022-05-20 17:00:00+02:00,2022-05-20 15:00:00,Practice 3,2022-05-21 13:00:00+02:00,2022-05-21 11:00:00,Qualifying,2022-05-21 16:00:00+02:00,2022-05-21 14:00:00,Race,2022-05-22 15:00:00+02:00,2022-05-22 13:00:00,True

In [3]:
schedule2021 = f1.get_event_schedule(2021)
schedule2021[schedule2021['EventName'] == 'Spanish Grand Prix']

,RoundNumber,Country,Location,OfficialEventName,EventDate,EventName,EventFormat,Session1,Session1Date,Session1DateUtc,Session2,Session2Date,Session2DateUtc,Session3,Session3Date,Session3DateUtc,Session4,Session4Date,Session4DateUtc,Session5,Session5Date,Session5DateUtc,F1ApiSupport
4,4,Spain,Barcelona,FORMULA 1 ARAMCO GRAN PREMIO DE ESPAÑA 2021,2021-05-09,Spanish Grand Prix,conventional,Practice 1,2021-05-07 11:30:00+02:00,2021-05-07 09:30:00,Practice 2,2021-05-07 15:00:00+02:00,2021-05-07 13:00:00,Practice 3,2021-05-08 12:00:00+02:00,2021-05-08 10:00:00,Qualifying,2021-05-08 15:00:00+02:00,2021-05-08 13:00:00,Race,2021-05-09 15:00:00+02:00,2021-05-09 13:00:00,True

In [4]:
schedule2020 = f1.get_event_schedule(2020)
schedule2020[schedule2020['EventName'] == 'Spanish Grand Prix']

,RoundNumber,Country,Location,OfficialEventName,EventDate,EventName,EventFormat,Session1,Session1Date,Session1DateUtc,Session2,Session2Date,Session2DateUtc,Session3,Session3Date,Session3DateUtc,Session4,Session4Date,Session4DateUtc,Session5,Session5Date,Session5DateUtc,F1ApiSupport
7,6,Spain,Barcelona,FORMULA 1 ARAMCO GRAN PREMIO DE ESPAÑA 2020,2020-08-16,Spanish Grand Prix,conventional,Practice 1,2020-08-14 11:00:00+02:00,2020-08-14 09:00:00,Practice 2,2020-08-14 15:00:00+02:00,2020-08-14 13:00:00,Practice 3,2020-08-15 12:00:00+02:00,2020-08-15 10:00:00,Qualifying,2020-08-15 15:00:00+02:00,2020-08-15 13:00:00,Race,2020-08-16 15:10:00+02:00,2020-08-16 13:10:00,True

In [5]:
schedule2019 = f1.get_event_schedule(2019)
schedule2019[schedule2019['EventName'] == 'Spanish Grand Prix']

,RoundNumber,Country,Location,OfficialEventName,EventDate,EventName,EventFormat,Session1,Session1Date,Session1DateUtc,Session2,Session2Date,Session2DateUtc,Session3,Session3Date,Session3DateUtc,Session4,Session4Date,Session4DateUtc,Session5,Session5Date,Session5DateUtc,F1ApiSupport
4,5,Spain,Barcelona,FORMULA 1 EMIRATES GRAN PREMIO DE ESPAÑA 2019,2019-05-12,Spanish Grand Prix,conventional,Practice 1,2019-05-10 11:00:00+02:00,2019-05-10 09:00:00,Practice 2,2019-05-10 15:00:00+02:00,2019-05-10 13:00:00,Practice 3,2019-05-11 12:00:00+02:00,2019-05-11 10:00:00,Qualifying,2019-05-11 15:00:00+02:00,2019-05-11 13:00:00,Race,2019-05-12 15:10:00+02:00,2019-05-12 13:10:00,True

In [6]:
schedule2018 = f1.get_event_schedule(2018)
schedule2018[schedule2018['EventName'] == 'Spanish Grand Prix']

,RoundNumber,Country,Location,OfficialEventName,EventDate,EventName,EventFormat,Session1,Session1Date,Session1DateUtc,Session2,Session2Date,Session2DateUtc,Session3,Session3Date,Session3DateUtc,Session4,Session4Date,Session4DateUtc,Session5,Session5Date,Session5DateUtc,F1ApiSupport
4,5,Spain,Barcelona,FORMULA 1 GRAN PREMIO DE ESPAÑA EMIRATES 2018,2018-05-13,Spanish Grand Prix,conventional,Practice 1,2018-05-11 11:00:00+02:00,2018-05-11 09:00:00,Practice 2,2018-05-11 15:00:00+02:00,2018-05-11 13:00:00,Practice 3,2018-05-12 12:00:00+02:00,2018-05-12 10:00:00,Qualifying,2018-05-12 15:00:00+02:00,2018-05-12 13:00:00,Race,2018-05-13 15:10:00+02:00,2018-05-13 13:10:00,True

In [7]:
session2022 = f1.get_session(2022, 'Spanish Grand Prix', 'R')
session2022.load()

core           INFO 	Loading data for Spanish Grand Prix - Race [v3.0.3]
req            INFO 	Using cached data for driver_info
logger      WARNING 	Failed to load result data from Ergast!
core        WARNING 	No result data for this session available on Ergast! (This is expected for recent sessions)
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for lap_count
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
logger      WARNING 	Failed to add first lap time from Ergast!
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['16', '1', '55', '63', '11', '44', '77', '20', '3', '47', '4', '31', '22', '10', '24', '5', '18', '23', '6', '14']

In [8]:
session2022.event

RoundNumber                                                     6
Country                                                     Spain
Location                                                Barcelona
OfficialEventName    FORMULA 1 PIRELLI GRAN PREMIO DE ESPAÑA 2022
EventDate                                     2022-05-22 00:00:00
EventName                                      Spanish Grand Prix
EventFormat                                          conventional
Session1                                               Practice 1
Session1Date                            2022-05-20 14:00:00+02:00
Session1DateUtc                               2022-05-20 12:00:00
Session2                                               Practice 2
Session2Date                            2022-05-20 17:00:00+02:00
Session2DateUtc                               2022-05-20 15:00:00
Session3                                               Practice 3
Session3Date                            2022-05-21 13:00:00+02:00
Session3DateUtc                               2022-05-21 11:00:00
Session4                                               Qualifying
Session4Date                            2022-05-21 16:00:00+02:00
Session4DateUtc                               2022-05-21 14:00:00
Session5                                                     Race
Session5Date                            2022-05-22 15:00:00+02:00
Session5DateUtc                               2022-05-22 13:00:00
F1ApiSupport                                                 True
Name: 7, dtype: object

In [9]:
session2021 = f1.get_session(2021, 'Spanish Grand Prix', 'R')
session2021.load()

core           INFO 	Loading data for Spanish Grand Prix - Race [v3.0.3]
req            INFO 	Using cached data for driver_info
logger      WARNING 	Failed to load result data from Ergast!
core        WARNING 	No result data for this session available on Ergast! (This is expected for recent sessions)
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for lap_count
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
logger      WARNING 	Failed to add first lap time from Ergast!
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['44', '33', '77', '16', '31', '55', '3', '11', '4', '14', '18', '10', '5', '99', '63', '22', '7', '47', '6', '9']

In [10]:
session2021.event

RoundNumber                                                    4
Country                                                    Spain
Location                                               Barcelona
OfficialEventName    FORMULA 1 ARAMCO GRAN PREMIO DE ESPAÑA 2021
EventDate                                    2021-05-09 00:00:00
EventName                                     Spanish Grand Prix
EventFormat                                         conventional
Session1                                              Practice 1
Session1Date                           2021-05-07 11:30:00+02:00
Session1DateUtc                              2021-05-07 09:30:00
Session2                                              Practice 2
Session2Date                           2021-05-07 15:00:00+02:00
Session2DateUtc                              2021-05-07 13:00:00
Session3                                              Practice 3
Session3Date                           2021-05-08 12:00:00+02:00
Session3DateUtc                              2021-05-08 10:00:00
Session4                                              Qualifying
Session4Date                           2021-05-08 15:00:00+02:00
Session4DateUtc                              2021-05-08 13:00:00
Session5                                                    Race
Session5Date                           2021-05-09 15:00:00+02:00
Session5DateUtc                              2021-05-09 13:00:00
F1ApiSupport                                                True
Name: 4, dtype: object

In [11]:
session2020 = f1.get_session(2020, 'Spanish Grand Prix', 'R')
session2020.load()

core           INFO 	Loading data for Spanish Grand Prix - Race [v3.0.3]
req            INFO 	Using cached data for driver_info
logger      WARNING 	Failed to load result data from Ergast!
core        WARNING 	No result data for this session available on Ergast! (This is expected for recent sessions)
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for lap_count
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
logger      WARNING 	Failed to add first lap time from Ergast!
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['44', '77', '33', '11', '18', '23', '55', '4', '16', '10', '5', '26', '3', '7', '31', '20', '8', '63', '6', '99']

In [12]:
session2020.event

RoundNumber                                                    6
Country                                                    Spain
Location                                               Barcelona
OfficialEventName    FORMULA 1 ARAMCO GRAN PREMIO DE ESPAÑA 2020
EventDate                                    2020-08-16 00:00:00
EventName                                     Spanish Grand Prix
EventFormat                                         conventional
Session1                                              Practice 1
Session1Date                           2020-08-14 11:00:00+02:00
Session1DateUtc                              2020-08-14 09:00:00
Session2                                              Practice 2
Session2Date                           2020-08-14 15:00:00+02:00
Session2DateUtc                              2020-08-14 13:00:00
Session3                                              Practice 3
Session3Date                           2020-08-15 12:00:00+02:00
Session3DateUtc                              2020-08-15 10:00:00
Session4                                              Qualifying
Session4Date                           2020-08-15 15:00:00+02:00
Session4DateUtc                              2020-08-15 13:00:00
Session5                                                    Race
Session5Date                           2020-08-16 15:10:00+02:00
Session5DateUtc                              2020-08-16 13:10:00
F1ApiSupport                                                True
Name: 7, dtype: object

In [13]:
session2019 = f1.get_session(2019, 'Spanish Grand Prix', 'R')
session2019.load()

core           INFO 	Loading data for Spanish Grand Prix - Race [v3.0.3]
req            INFO 	Using cached data for driver_info
logger      WARNING 	Failed to load result data from Ergast!
core        WARNING 	No result data for this session available on Ergast! (This is expected for recent sessions)
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for lap_count
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
logger      WARNING 	Failed to add first lap time from Ergast!
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['77', '44', '5', '33', '16', '10', '8', '20', '26', '4', '23', '55', '3', '7', '11', '18', '88', '99', '63', '27']

In [14]:
session2019.event

RoundNumber                                                      5
Country                                                      Spain
Location                                                 Barcelona
OfficialEventName    FORMULA 1 EMIRATES GRAN PREMIO DE ESPAÑA 2019
EventDate                                      2019-05-12 00:00:00
EventName                                       Spanish Grand Prix
EventFormat                                           conventional
Session1                                                Practice 1
Session1Date                             2019-05-10 11:00:00+02:00
Session1DateUtc                                2019-05-10 09:00:00
Session2                                                Practice 2
Session2Date                             2019-05-10 15:00:00+02:00
Session2DateUtc                                2019-05-10 13:00:00
Session3                                                Practice 3
Session3Date                             2019-05-11 12:00:00+02:00
Session3DateUtc                                2019-05-11 10:00:00
Session4                                                Qualifying
Session4Date                             2019-05-11 15:00:00+02:00
Session4DateUtc                                2019-05-11 13:00:00
Session5                                                      Race
Session5Date                             2019-05-12 15:10:00+02:00
Session5DateUtc                                2019-05-12 13:10:00
F1ApiSupport                                                  True
Name: 4, dtype: object

In [15]:
session2018 = f1.get_session(2018, 'Spanish Grand Prix', 'R')
session2018.load()

core           INFO 	Loading data for Spanish Grand Prix - Race [v3.0.3]
req            INFO 	Using cached data for driver_info
logger      WARNING 	Failed to load result data from Ergast!
core        WARNING 	No result data for this session available on Ergast! (This is expected for recent sessions)
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for lap_count
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
logger      WARNING 	Failed to add first lap time from Ergast!
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['44', '77', '5', '7', '33', '3', '20', '14', '55', '8', '2', '10', '31', '16', '11', '27', '9', '18', '35', '28']

In [16]:
session2018.event

RoundNumber                                                      5
Country                                                      Spain
Location                                                 Barcelona
OfficialEventName    FORMULA 1 GRAN PREMIO DE ESPAÑA EMIRATES 2018
EventDate                                      2018-05-13 00:00:00
EventName                                       Spanish Grand Prix
EventFormat                                           conventional
Session1                                                Practice 1
Session1Date                             2018-05-11 11:00:00+02:00
Session1DateUtc                                2018-05-11 09:00:00
Session2                                                Practice 2
Session2Date                             2018-05-11 15:00:00+02:00
Session2DateUtc                                2018-05-11 13:00:00
Session3                                                Practice 3
Session3Date                             2018-05-12 12:00:00+02:00
Session3DateUtc                                2018-05-12 10:00:00
Session4                                                Qualifying
Session4Date                             2018-05-12 15:00:00+02:00
Session4DateUtc                                2018-05-12 13:00:00
Session5                                                      Race
Session5Date                             2018-05-13 15:10:00+02:00
Session5DateUtc                                2018-05-13 13:10:00
F1ApiSupport                                                  True
Name: 4, dtype: object

In [18]:
session2022.car_data['16']

,Date,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Time,SessionTime
0,2022-05-22 12:02:34.720,0,0,0,0,False,0,car,0 days 00:01:34.707000,0 days 00:01:34.707000
1,2022-05-22 12:02:35.080,0,0,0,0,False,0,car,0 days 00:01:35.067000,0 days 00:01:35.067000
2,2022-05-22 12:02:35.280,0,0,0,0,False,0,car,0 days 00:01:35.267000,0 days 00:01:35.267000
3,2022-05-22 12:02:35.560,0,0,0,0,False,0,car,0 days 00:01:35.547000,0 days 00:01:35.547000
4,2022-05-22 12:02:35.999,0,0,0,0,False,0,car,0 days 00:01:35.986000,0 days 00:01:35.986000
...,...,...,...,...,...,...,...,...,...,...
36473,2022-05-22 14:44:57.667,0,0,0,104,True,0,car,0 days 02:43:57.654000,0 days 02:43:57.654000
36474,2022-05-22 14:44:57.867,0,0,0,104,True,0,car,0 days 02:43:57.854000,0 days 02:43:57.854000
36475,2022-05-22 14:44:58.028,0,0,0,104,True,0,car,0 days 02:43:58.015000,0 days 02:43:58.015000
36476,2022-05-22 14:44:58.308,0,0,0,104,True,0,car,0 days 02:43:58.295000,0 days 02:43:58.295000
36477,2022-05-22 14:44:58.548,0,0,0,104,True,0,car,0 days 02:43:58.535000,0 days 02:43:58.535000

In [19]:
session2022.car_data['1']

,Date,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Time,SessionTime
0,2022-05-22 12:02:34.720,0,0,0,0,False,0,car,0 days 00:01:34.707000,0 days 00:01:34.707000
1,2022-05-22 12:02:35.080,0,0,0,0,False,0,car,0 days 00:01:35.067000,0 days 00:01:35.067000
2,2022-05-22 12:02:35.280,0,0,0,0,False,0,car,0 days 00:01:35.267000,0 days 00:01:35.267000
3,2022-05-22 12:02:35.560,0,0,0,0,False,0,car,0 days 00:01:35.547000,0 days 00:01:35.547000
4,2022-05-22 12:02:35.999,0,0,0,0,False,0,car,0 days 00:01:35.986000,0 days 00:01:35.986000
...,...,...,...,...,...,...,...,...,...,...
36473,2022-05-22 14:44:57.667,0,0,0,0,False,0,car,0 days 02:43:57.654000,0 days 02:43:57.654000
36474,2022-05-22 14:44:57.867,0,0,0,0,False,0,car,0 days 02:43:57.854000,0 days 02:43:57.854000
36475,2022-05-22 14:44:58.028,0,0,0,0,False,0,car,0 days 02:43:58.015000,0 days 02:43:58.015000
36476,2022-05-22 14:44:58.308,0,0,0,0,False,0,car,0 days 02:43:58.295000,0 days 02:43:58.295000
36477,2022-05-22 14:44:58.548,0,0,0,0,False,0,car,0 days 02:43:58.535000,0 days 02:43:58.535000

In [20]:
session2022.laps

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,Sector3Time,Sector1SessionTime,Sector2SessionTime,Sector3SessionTime,SpeedI1,SpeedI2,SpeedFL,SpeedST,IsPersonalBest,Compound,TyreLife,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
0,0 days 01:03:41.958000,LEC,16,NaT,1.0,1.0,0 days 00:23:48.142000,NaT,NaT,0 days 00:00:32.309000,0 days 00:00:29.309000,NaT,0 days 01:03:12.692000,0 days 01:03:42.013000,263.0,272.0,270.0,275.0,False,SOFT,1.0,True,Ferrari,0 days 01:02:12.915000,2022-05-22 13:03:12.928,2,1.0,False,,False,False
1,0 days 01:05:09.585000,LEC,16,0 days 00:01:27.627000,2.0,1.0,NaT,NaT,0 days 00:00:24.608000,0 days 00:00:32.875000,0 days 00:00:30.144000,0 days 01:04:06.566000,0 days 01:04:39.441000,0 days 01:05:09.585000,259.0,266.0,272.0,294.0,True,SOFT,2.0,True,Ferrari,0 days 01:03:41.958000,2022-05-22 13:04:41.971,1,1.0,False,,False,True
2,0 days 01:06:36.783000,LEC,16,0 days 00:01:27.198000,3.0,1.0,NaT,NaT,0 days 00:00:24.541000,0 days 00:00:32.649000,0 days 00:00:30.008000,0 days 01:05:34.126000,0 days 01:06:06.775000,0 days 01:06:36.783000,265.0,265.0,269.0,293.0,True,SOFT,3.0,True,Ferrari,0 days 01:05:09.585000,2022-05-22 13:06:09.598,1,1.0,False,,False,True
3,0 days 01:08:04.454000,LEC,16,0 days 00:01:27.671000,4.0,1.0,NaT,NaT,0 days 00:00:24.634000,0 days 00:00:32.896000,0 days 00:00:30.141000,0 days 01:07:01.417000,0 days 01:07:34.313000,0 days 01:08:04.454000,252.0,265.0,269.0,296.0,False,SOFT,4.0,True,Ferrari,0 days 01:06:36.783000,2022-05-22 13:07:36.796,1,1.0,False,,False,True
4,0 days 01:09:32.345000,LEC,16,0 days 00:01:27.891000,5.0,1.0,NaT,NaT,0 days 00:00:24.517000,0 days 00:00:32.957000,0 days 00:00:30.417000,0 days 01:08:28.971000,0 days 01:09:01.928000,0 days 01:09:32.345000,259.0,265.0,269.0,NaN,False,SOFT,5.0,True,Ferrari,0 days 01:08:04.454000,2022-05-22 13:09:04.467,1,1.0,False,,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1225,0 days 02:33:48.631000,ALO,14,0 days 00:01:27.384000,61.0,4.0,NaT,NaT,0 days 00:00:24.457000,0 days 00:00:33.017000,0 days 00:00:29.910000,0 days 02:32:45.672000,0 days 02:33:18.689000,0 days 02:33:48.599000,245.0,236.0,267.0,287.0,False,SOFT,10.0,False,Alpine,0 days 02:32:21.247000,2022-05-22 14:33:21.260,1,9.0,False,,False,True
1226,0 days 02:35:16.350000,ALO,14,0 days 00:01:27.719000,62.0,4.0,NaT,NaT,0 days 00:00:24.480000,0 days 00:00:33.294000,0 days 00:00:29.945000,0 days 02:34:13.079000,0 days 02:34:46.373000,0 days 02:35:16.318000,235.0,237.0,269.0,289.0,False,SOFT,11.0,False,Alpine,0 days 02:33:48.631000,2022-05-22 14:34:48.644,1,9.0,False,,False,True
1227,0 days 02:36:43.771000,ALO,14,0 days 00:01:27.421000,63.0,4.0,NaT,NaT,0 days 00:00:24.258000,0 days 00:00:33.142000,0 days 00:00:30.021000,0 days 02:35:40.576000,0 days 02:36:13.718000,0 days 02:36:43.739000,242.0,248.0,268.0,287.0,False,SOFT,12.0,False,Alpine,0 days 02:35:16.350000,2022-05-22 14:36:16.363,1,9.0,False,,False,True
1228,0 days 02:38:12.264000,ALO,14,0 days 00:01:28.493000,64.0,4.0,NaT,NaT,0 days 00:00:24.416000,0 days 00:00:33.487000,0 days 00:00:30.590000,0 days 02:37:08.155000,0 days 02:37:41.642000,0 days 02:38:12.232000,239.0,229.0,267.0,288.0,False,SOFT,13.0,False,Alpine,0 days 02:36:43.771000,2022-05-22 14:37:43.784,1,9.0,False,,False,True
1229,0 days 02:39:40.534000,ALO,14,0 days 00:01:28.270000,65.0,4.0,NaT,NaT,0 days 00:00:24.504000,0 days 00:00:33.646000,0 days 00:00:30.120000,0 days 02:38:36.736000,0 days 02:39:10.382000,0 days 02:39:40.502000,234.0,233.0,269.0,292.0,False,SOFT,14.0,False,Alpine,0 days 02:38:12.264000,2022-05-22 14:39:12.277,1,9.0,False,,False,True

In [21]:
session2022.pos_data['16']

,Date,Status,X,Y,Z,Source,Time,SessionTime
0,2022-05-22 12:02:51.374,OnTrack,0,0,0,pos,0 days 00:01:51.361000,0 days 00:01:51.361000
1,2022-05-22 12:02:51.754,OnTrack,0,0,0,pos,0 days 00:01:51.741000,0 days 00:01:51.741000
2,2022-05-22 12:02:52.014,OnTrack,0,0,0,pos,0 days 00:01:52.001000,0 days 00:01:52.001000
3,2022-05-22 12:02:52.094,OnTrack,0,0,0,pos,0 days 00:01:52.081000,0 days 00:01:52.081000
4,2022-05-22 12:02:52.354,OnTrack,0,0,0,pos,0 days 00:01:52.341000,0 days 00:01:52.341000
...,...,...,...,...,...,...,...,...
37925,2022-05-22 14:44:57.374,OnTrack,284,-1043,1744,pos,0 days 02:43:57.361000,0 days 02:43:57.361000
37926,2022-05-22 14:44:57.654,OnTrack,284,-1043,1744,pos,0 days 02:43:57.641000,0 days 02:43:57.641000
37927,2022-05-22 14:44:57.913,OnTrack,284,-1043,1744,pos,0 days 02:43:57.900000,0 days 02:43:57.900000
37928,2022-05-22 14:44:58.073,OnTrack,284,-1043,1744,pos,0 days 02:43:58.060000,0 days 02:43:58.060000
37929,2022-05-22 14:44:58.373,OnTrack,284,-1043,1744,pos,0 days 02:43:58.360000,0 days 02:43:58.360000

In [22]:
session2022.pos_data['1']

,Date,Status,X,Y,Z,Source,Time,SessionTime
0,2022-05-22 12:02:51.374,OnTrack,0,0,0,pos,0 days 00:01:51.361000,0 days 00:01:51.361000
1,2022-05-22 12:02:51.754,OnTrack,0,0,0,pos,0 days 00:01:51.741000,0 days 00:01:51.741000
2,2022-05-22 12:02:52.014,OnTrack,0,0,0,pos,0 days 00:01:52.001000,0 days 00:01:52.001000
3,2022-05-22 12:02:52.094,OnTrack,0,0,0,pos,0 days 00:01:52.081000,0 days 00:01:52.081000
4,2022-05-22 12:02:52.354,OnTrack,0,0,0,pos,0 days 00:01:52.341000,0 days 00:01:52.341000
...,...,...,...,...,...,...,...,...
37925,2022-05-22 14:44:57.374,OnTrack,868,-138,1744,pos,0 days 02:43:57.361000,0 days 02:43:57.361000
37926,2022-05-22 14:44:57.654,OnTrack,868,-138,1744,pos,0 days 02:43:57.641000,0 days 02:43:57.641000
37927,2022-05-22 14:44:57.913,OnTrack,868,-138,1744,pos,0 days 02:43:57.900000,0 days 02:43:57.900000
37928,2022-05-22 14:44:58.073,OnTrack,868,-138,1744,pos,0 days 02:43:58.060000,0 days 02:43:58.060000
37929,2022-05-22 14:44:58.373,OnTrack,868,-138,1744,pos,0 days 02:43:58.360000,0 days 02:43:58.360000

In [23]:
session2022.race_control_messages

,Time,Category,Message,Status,Flag,Scope,Sector,RacingNumber
0,2022-05-22 12:05:23,Other,DRS DISABLED IN ZONE 2,None,None,None,NaN,None
1,2022-05-22 12:08:30,Other,DRS ENABLED IN ZONE 2,None,None,None,NaN,None
2,2022-05-22 12:11:41,Other,BLUE HEAD PADDING MATERIAL MUST BE USED,None,None,None,NaN,None
3,2022-05-22 12:20:01,Flag,GREEN LIGHT - PIT EXIT OPEN,None,GREEN,Track,NaN,None
4,2022-05-22 12:30:01,Other,PIT EXIT CLOSED,None,None,None,NaN,None
...,...,...,...,...,...,...,...,...
106,2022-05-22 14:41:14,Other,FIA STEWARDS: 5 SECOND TIME PENALTY FOR CAR 23...,None,None,None,NaN,None
107,2022-05-22 14:55:13,Flag,YELLOW IN TRACK SECTOR 6,None,YELLOW,Sector,6.0,None
108,2022-05-22 14:55:16,Flag,CLEAR IN TRACK SECTOR 6,None,CLEAR,Sector,6.0,None
109,2022-05-22 14:55:19,Flag,DOUBLE YELLOW IN TRACK SECTOR 6,None,DOUBLE YELLOW,Sector,6.0,None
110,2022-05-22 14:55:22,Flag,CLEAR IN TRACK SECTOR 6,None,CLEAR,Sector,6.0,None

In [25]:
session2022.results.head()

,DriverNumber,BroadcastName,Abbreviation,DriverId,TeamName,TeamColor,TeamId,FirstName,LastName,FullName,HeadshotUrl,CountryCode,Position,ClassifiedPosition,GridPosition,Q1,Q2,Q3,Time,Status,Points
16,16,C LECLERC,LEC,,Ferrari,ed1c24,,Charles,Leclerc,Charles Leclerc,https://www.formula1.com/content/dam/fom-websi...,MON,NaN,,NaN,NaT,NaT,NaT,NaT,,NaN
1,1,M VERSTAPPEN,VER,,Red Bull Racing,1e5bc6,,Max,Verstappen,Max Verstappen,https://www.formula1.com/content/dam/fom-websi...,NED,NaN,,NaN,NaT,NaT,NaT,NaT,,NaN
55,55,C SAINZ,SAI,,Ferrari,ed1c24,,Carlos,Sainz,Carlos Sainz,https://www.formula1.com/content/dam/fom-websi...,ESP,NaN,,NaN,NaT,NaT,NaT,NaT,,NaN
63,63,G RUSSELL,RUS,,Mercedes,6cd3bf,,George,Russell,George Russell,https://www.formula1.com/content/dam/fom-websi...,GBR,NaN,,NaN,NaT,NaT,NaT,NaT,,NaN
11,11,S PEREZ,PER,,Red Bull Racing,1e5bc6,,Sergio,Perez,Sergio Perez,https://www.formula1.com/content/dam/fom-websi...,MEX,NaN,,NaN,NaT,NaT,NaT,NaT,,NaN

In [26]:
session2022.track_status

                    Time Status   Message
0        0 days 00:00:00      2    Yellow
1 0 days 00:07:30.185000      1  AllClear
2 0 days 01:02:47.426000      2    Yellow
3 0 days 01:02:59.996000      1  AllClear
4 0 days 01:11:36.002000      2    Yellow
5 0 days 01:11:48.338000      1  AllClear
6 0 days 01:14:25.457000      2    Yellow
7 0 days 01:14:33.638000      1  AllClear

In [27]:
session2022.weather_data

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,0 days 00:00:13.023000,36.3,8.0,996.9,False,48.3,196,3.2
1,0 days 00:01:13.014000,36.2,8.0,996.9,False,48.4,190,3.5
2,0 days 00:02:13.011000,36.1,8.0,996.7,False,48.6,170,3.5
3,0 days 00:03:13.038000,36.1,7.0,996.7,False,48.8,155,4.0
4,0 days 00:04:13.041000,36.1,7.0,996.7,False,48.8,183,5.5
...,...,...,...,...,...,...,...,...
159,0 days 02:39:13.439000,36.4,7.0,995.2,False,48.1,169,4.1
160,0 days 02:40:13.438000,36.4,8.0,995.2,False,47.8,189,3.5
161,0 days 02:41:13.440000,36.6,8.0,995.2,False,47.8,69,2.2
162,0 days 02:42:13.432000,36.7,9.0,995.2,False,47.9,118,1.6
163,0 days 02:43:13.464000,36.7,11.0,995.2,False,47.6,150,1.5

In [30]:
session2021.weather_data

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,0 days 00:00:31.507000,22.3,55.0,994.5,False,34.1,252,0.2
1,0 days 00:01:31.508000,22.1,55.9,994.8,False,33.6,272,0.5
2,0 days 00:02:31.507000,22.1,56.9,995.0,False,33.3,209,0.4
3,0 days 00:03:31.505000,21.9,57.2,995.1,False,32.9,243,0.4
4,0 days 00:04:31.511000,21.9,57.4,995.2,False,32.8,212,0.4
...,...,...,...,...,...,...,...,...
125,0 days 02:05:32.131000,23.2,56.2,991.6,False,35.9,53,0.5
126,0 days 02:06:32.133000,23.3,56.6,991.6,False,35.6,43,0.4
127,0 days 02:07:32.131000,23.3,56.2,991.5,False,35.4,127,0.4
128,0 days 02:08:32.129000,23.5,56.2,991.6,False,35.5,32,0.4
129,0 days 02:09:32.134000,23.5,55.2,991.5,False,35.5,64,0.4

In [34]:
session2020.weather_data

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,0 days 00:00:51.801000,28.8,58.3,998.0,False,43.9,347,0.9
1,0 days 00:01:51.801000,28.8,57.7,997.9,False,44.1,200,1.6
2,0 days 00:02:51.802000,28.9,57.8,998.0,False,45.5,166,1.4
3,0 days 00:03:51.806000,29.0,57.0,997.9,False,45.6,86,1.1
4,0 days 00:04:51.809000,29.0,57.5,998.0,False,46.8,358,2.2
...,...,...,...,...,...,...,...,...
124,0 days 02:04:52.162000,29.7,57.9,997.6,False,46.2,284,1.6
125,0 days 02:05:52.162000,29.6,58.3,997.6,False,46.4,308,1.1
126,0 days 02:06:52.164000,29.6,58.3,997.6,False,46.2,57,1.0
127,0 days 02:07:52.163000,29.7,58.0,997.6,False,47.1,35,1.3
128,0 days 02:08:52.166000,29.9,56.8,997.6,False,47.1,256,0.9

In [35]:
session2019.weather_data

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,0 days 00:00:14.225000,20.4,55.1,1007.1,False,42.0,75,1.3
1,0 days 00:01:14.242000,20.5,55.8,1007.1,False,42.4,133,0.9
2,0 days 00:02:14.248000,20.5,54.8,1007.2,False,42.4,164,1.5
3,0 days 00:03:14.261000,20.4,54.8,1007.1,False,42.1,328,1.0
4,0 days 00:04:14.276000,20.4,55.4,1007.1,False,42.1,177,1.1
...,...,...,...,...,...,...,...,...
127,0 days 02:07:15.984000,20.4,50.6,1006.5,False,39.0,10,1.6
128,0 days 02:08:15.995000,20.1,51.0,1006.5,False,38.9,28,2.7
129,0 days 02:09:16.008000,20.0,50.0,1006.4,False,38.8,18,1.7
130,0 days 02:10:16.037000,19.9,50.2,1006.5,False,38.7,330,2.2
131,0 days 02:11:16.181000,19.8,50.8,1006.5,False,38.7,78,2.3

In [36]:
session2018.weather_data

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,0 days 00:00:33.475000,15.1,55.7,1001.8,False,35.0,84,1.1
1,0 days 00:01:33.488000,15.4,55.1,1001.7,False,35.0,21,1.4
2,0 days 00:02:33.503000,15.3,54.4,1001.6,False,35.0,8,1.5
3,0 days 00:03:33.517000,15.1,54.6,1001.8,False,35.0,62,1.9
4,0 days 00:04:33.531000,15.1,54.4,1001.7,True,35.0,3,1.9
...,...,...,...,...,...,...,...,...
100,0 days 01:40:34.846000,16.9,49.5,1001.5,False,30.7,99,2.3
101,0 days 01:41:34.857000,16.9,49.5,1001.5,False,30.7,99,2.3
102,0 days 01:42:34.871000,16.5,51.2,1001.6,False,29.8,62,2.4
103,0 days 01:43:34.887000,16.0,52.4,1001.7,False,29.1,71,2.2
104,0 days 01:44:34.902000,16.0,53.2,1001.6,True,29.3,77,2.0