In [160]:
import pandas as pd
import numpy as np

In [161]:
circuits = pd.read_csv('Dataframes/circuits.csv')
constructors = pd.read_csv('Dataframes/constructors.csv')
drivers = pd.read_csv('Dataframes/drivers.csv')
races = pd.read_csv('Dataframes/races.csv')
lap_times = pd.read_csv('Dataframes/lap_times.csv')
results = pd.read_csv('Dataframes/results.csv')
qualifying = pd.read_csv('Dataframes/qualifying.csv')
d_points = pd.read_csv('Dataframes/driver_points_es.csv')
c_points = pd.read_csv('Dataframes/constructor_points_es.csv')
safety = pd.read_csv('Dataframes/safety_car.csv')

In [162]:
circuits.shape

(77, 9)

In [163]:
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [164]:
circuits['name'].unique()

array(['Albert Park Grand Prix Circuit', 'Sepang International Circuit',
       'Bahrain International Circuit', 'Circuit de Barcelona-Catalunya',
       'Istanbul Park', 'Circuit de Monaco', 'Circuit Gilles Villeneuve',
       'Circuit de Nevers Magny-Cours', 'Silverstone Circuit',
       'Hockenheimring', 'Hungaroring', 'Valencia Street Circuit',
       'Circuit de Spa-Francorchamps', 'Autodromo Nazionale di Monza',
       'Marina Bay Street Circuit', 'Fuji Speedway',
       'Shanghai International Circuit', 'Autódromo José Carlos Pace',
       'Indianapolis Motor Speedway', 'Nürburgring',
       'Autodromo Enzo e Dino Ferrari', 'Suzuka Circuit',
       'Las Vegas Strip Street Circuit', 'Yas Marina Circuit',
       'Autódromo Juan y Oscar Gálvez', 'Circuito de Jerez',
       'Autódromo do Estoril', 'Okayama International Circuit',
       'Adelaide Street Circuit', 'Kyalami', 'Donington Park',
       'Autódromo Hermanos Rodríguez', 'Phoenix street circuit',
       'Circuit Paul Ricard', 'Korean International Circuit',
       'Autódromo Internacional Nelson Piquet', 'Detroit Street Circuit',
       'Brands Hatch', 'Circuit Park Zandvoort', 'Zolder',
       'Dijon-Prenois', 'Fair Park', 'Long Beach',
       'Las Vegas Street Circuit', 'Jarama', 'Watkins Glen',
       'Scandinavian Raceway', 'Mosport International Raceway',
       'Montjuïc', 'Nivelles-Baulers', 'Charade Circuit',
       'Circuit Mont-Tremblant', 'Rouen-Les-Essarts', 'Le Mans',
       'Reims-Gueux', 'Prince George Circuit', 'Zeltweg', 'Aintree',
       'Circuito da Boavista', 'Riverside International Raceway', 'AVUS',
       'Monsanto Park Circuit', 'Sebring International Raceway',
       'Ain Diab', 'Pescara Circuit', 'Circuit Bremgarten',
       'Circuit de Pedralbes', 'Buddh International Circuit',
       'Circuit of the Americas', 'Red Bull Ring', 'Sochi Autodrom',
       'Baku City Circuit', 'Autódromo Internacional do Algarve',
       'Autodromo Internazionale del Mugello', 'Jeddah Corniche Circuit',
       'Losail International Circuit', 'Miami International Autodrome'],
      dtype=object)

In [165]:
circuit_es = circuits[circuits['name'] == 'Circuit de Barcelona-Catalunya']
circuit_es = circuit_es.sort_values(by='circuitId', ascending=False)

circuit_es

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...

In [166]:
races.shape

(1102, 18)

In [167]:
races.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [168]:
races['name'].value_counts().head(10)

name
Italian Grand Prix          74
British Grand Prix          74
Monaco Grand Prix           69
Belgian Grand Prix          68
German Grand Prix           64
French Grand Prix           62
Spanish Grand Prix          53
Canadian Grand Prix         52
Brazilian Grand Prix        48
United States Grand Prix    44
Name: count, dtype: int64

In [169]:
races_es = races[(races['name'] == 'Spanish Grand Prix') & (races['year'].between(1996, 2022))]
races_es = races_es.drop(['fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time'], axis=1)
races_es = races_es.sort_values(by='raceId', ascending=False)

races_es

,raceId,year,round,circuitId,name,date,time,url
1062,1079,2022,6,4,Spanish Grand Prix,2022-05-22,13:00:00,http://en.wikipedia.org/wiki/2022_Spanish_Gran...
1040,1055,2021,4,4,Spanish Grand Prix,2021-05-09,13:00:00,http://en.wikipedia.org/wiki/2021_Spanish_Gran...
1023,1036,2020,6,4,Spanish Grand Prix,2020-08-16,13:10:00,http://en.wikipedia.org/wiki/2020_Spanish_Gran...
1001,1014,2019,5,4,Spanish Grand Prix,2019-05-12,13:10:00,http://en.wikipedia.org/wiki/2019_Spanish_Gran...
980,993,2018,5,4,Spanish Grand Prix,2018-05-13,13:10:00,http://en.wikipedia.org/wiki/2018_Spanish_Gran...
960,973,2017,5,4,Spanish Grand Prix,2017-05-14,12:00:00,http://en.wikipedia.org/wiki/2017_Spanish_Gran...
939,952,2016,5,4,Spanish Grand Prix,2016-05-15,12:00:00,http://en.wikipedia.org/wiki/2016_Spanish_Gran...
919,930,2015,5,4,Spanish Grand Prix,2015-05-10,12:00:00,http://en.wikipedia.org/wiki/2015_Spanish_Gran...
901,904,2014,5,4,Spanish Grand Prix,2014-05-11,12:00:00,http://en.wikipedia.org/wiki/2014_Spanish_Gran...
882,884,2013,5,4,Spanish Grand Prix,2013-05-12,12:00:00,http://en.wikipedia.org/wiki/2013_Spanish_Gran...
862,864,2012,5,4,Spanish Grand Prix,2012-05-13,12:00:00,http://en.wikipedia.org/wiki/2012_Spanish_Gran...
843,845,2011,5,4,Spanish Grand Prix,2011-05-22,12:00:00,http://en.wikipedia.org/wiki/2011_Spanish_Gran...
340,341,2010,5,4,Spanish Grand Prix,2010-05-09,12:00:00,http://en.wikipedia.org/wiki/2010_Spanish_Gran...
229,230,1996,7,4,Spanish Grand Prix,1996-06-02,\N,http://en.wikipedia.org/wiki/1996_Spanish_Gran...
211,212,1997,6,4,Spanish Grand Prix,1997-05-25,\N,http://en.wikipedia.org/wiki/1997_Spanish_Gran...
194,195,1998,5,4,Spanish Grand Prix,1998-05-10,\N,http://en.wikipedia.org/wiki/1998_Spanish_Gran...
178,179,1999,5,4,Spanish Grand Prix,1999-05-30,\N,http://en.wikipedia.org/wiki/1999_Spanish_Gran...
161,162,2000,5,4,Spanish Grand Prix,2000-05-07,\N,http://en.wikipedia.org/wiki/2000_Spanish_Gran...
144,145,2001,5,4,Spanish Grand Prix,2001-04-29,\N,http://en.wikipedia.org/wiki/2001_Spanish_Gran...
127,128,2002,5,4,Spanish Grand Prix,2002-04-28,\N,http://en.wikipedia.org/wiki/2002_Spanish_Gran...
111,112,2003,5,4,Spanish Grand Prix,2003-05-04,\N,http://en.wikipedia.org/wiki/2003_Spanish_Gran...
93,94,2004,5,4,Spanish Grand Prix,2004-05-09,\N,http://en.wikipedia.org/wiki/2004_Spanish_Gran...
74,75,2005,5,4,Spanish Grand Prix,2005-05-08,14:00:00,http://en.wikipedia.org/wiki/2005_Spanish_Gran...
57,58,2006,6,4,Spanish Grand Prix,2006-05-14,14:00:00,http://en.wikipedia.org/wiki/2006_Spanish_Gran...
38,39,2007,4,4,Spanish Grand Prix,2007-05-13,12:00:00,http://en.wikipedia.org/wiki/2007_Spanish_Gran...
20,21,2008,4,4,Spanish Grand Prix,2008-04-27,12:00:00,http://en.wikipedia.org/wiki/2008_Spanish_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [170]:
qualifying.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [171]:
qualifying_es = qualifying[qualifying['raceId'].isin(races_es['raceId'])]
qualifying_es = qualifying_es.drop(['number', 'q1', 'q2', 'q3'], axis=1)

qualifying_es.head()

    qualifyId  raceId  driverId  constructorId  position
66         67      21         8              6         1
67         68      21         4              4         2
68         69      21        13              6         3
69         70      21         9              2         4
70         71      21         1              1         5

In [172]:
qualifying_es = qualifying_es.drop('qualifyId', axis=1)
qualifying_es = qualifying_es.sort_values(by='raceId', ascending=False)

qualifying_es.head()

      raceId  driverId  constructorId  position
9254    1079       849              3        20
9244    1079       854            210        10
9235    1079       844              6         1
9236    1079       830              9         2
9237    1079       832              6         3

In [173]:
qualifying_es.shape

(463, 4)

In [174]:
lap_times.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [175]:
lap_times_es = lap_times[lap_times['raceId'].isin(races_es['raceId'])]
lap_times_es = lap_times_es.sort_values(by='raceId', ascending=False)
lap_times_es = lap_times_es.drop(['position', 'time', 'milliseconds'], axis=1)

lap_times_es.head()

        raceId  driverId  lap
520988    1079       825   64
520171    1079       822   57
520164    1079       822   50
520165    1079       822   51
520166    1079       822   52

In [176]:
lap_times_es['driverId'].value_counts()

driverId
4      1150
18     1032
1       985
13      972
20      921
       ...
47       17
811      12
40       11
36       10
7         4
Name: count, Length: 117, dtype: int64

In [177]:
qualifying_es['driverId'].value_counts()

driverId
4      18
8      17
1      16
20     15
13     14
       ..
83      1
845     1
73      1
843     1
823     1
Name: count, Length: 109, dtype: int64

In [178]:
len(lap_times_es['raceId'].unique()) == len(races_es['raceId'].unique())

True

In [179]:
quali_lap_es = qualifying_es.merge(lap_times_es, on=['raceId', 'driverId'], how='left')

quali_lap_es

       raceId  driverId  constructorId  position   lap
0        1079       849              3        20   1.0
1        1079       849              3        20   2.0
2        1079       849              3        20   3.0
3        1079       849              3        20   4.0
4        1079       849              3        20  23.0
...       ...       ...            ...       ...   ...
25463       5         3              3         9  58.0
25464       5         3              3         9  59.0
25465       5         3              3         9  60.0
25466       5         3              3         9  61.0
25467       5         3              3         9  62.0

[25468 rows x 5 columns]

In [180]:
quali_lap_es.isna().sum()

raceId            0
driverId          0
constructorId     0
position          0
lap              20
dtype: int64

In [181]:
len(quali_lap_es['raceId'].unique())

22

In [182]:
len(quali_lap_es['driverId'].unique())

109

In [183]:
null_lap_rows = quali_lap_es[quali_lap_es['lap'].isnull()]

null_lap_rows.head()

      raceId  driverId  constructorId  position  lap
5574     993       154            210        10  NaN
5620     993       842              5        12  NaN
5749     993       807              4        16  NaN
6301     973         8              6         4  NaN
7461     952         3            131         2  NaN

In [184]:
quali_lap_es = quali_lap_es.dropna(subset=['lap'])

quali_lap_es

       raceId  driverId  constructorId  position   lap
0        1079       849              3        20   1.0
1        1079       849              3        20   2.0
2        1079       849              3        20   3.0
3        1079       849              3        20   4.0
4        1079       849              3        20  23.0
...       ...       ...            ...       ...   ...
25463       5         3              3         9  58.0
25464       5         3              3         9  59.0
25465       5         3              3         9  60.0
25466       5         3              3         9  61.0
25467       5         3              3         9  62.0

[25448 rows x 5 columns]

In [185]:
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [186]:
drivers_es = drivers[drivers['driverId'].isin(lap_times_es['driverId'])]
drivers_es = drivers_es.sort_values(by='driverId', ascending=False)

drivers_es

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
853,855,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher
851,853,mazepin,9,MAZ,Nikita,Mazepin,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin
850,852,tsunoda,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
847,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi
...,...,...,...,...,...,...,...,...,...
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton

In [187]:
race2022 = lap_times[lap_times['raceId'] == 1079]

race2022.shape

(1230, 6)

In [188]:
race2022.head()

        raceId  driverId  lap  position      time  milliseconds
519759    1079       844    1         1  1:28.746         88746
519760    1079       844    2         1  1:27.627         87627
519761    1079       844    3         1  1:27.198         87198
519762    1079       844    4         1  1:27.671         87671
519763    1079       844    5         1  1:27.891         87891

In [189]:
race2022['lap'].value_counts()

lap
1     20
15    20
2     20
27    20
26    20
      ..
42    18
43    18
44    18
65    15
66     8
Name: count, Length: 66, dtype: int64

In [190]:
race2022_ham = race2022[race2022['driverId'] == 1]

race2022_ham

        raceId  driverId  lap  position      time  milliseconds
520859    1079         1    1        19  1:55.147        115147
520860    1079         1    2        19  1:55.134        115134
520861    1079         1    3        19  1:27.495         87495
520862    1079         1    4        19  1:28.327         88327
520863    1079         1    5        19  1:29.321         89321
...        ...       ...  ...       ...       ...           ...
520920    1079         1   62         4  1:26.804         86804
520921    1079         1   63         4  1:28.977         88977
520922    1079         1   64         4  1:29.833         89833
520923    1079         1   65         5  1:31.646         91646
520924    1079         1   66         5  1:34.345         94345

[66 rows x 6 columns]

In [191]:
race2021 = lap_times[lap_times['raceId'] == 1055]

race2021.shape

(1246, 6)

In [192]:
race2021['lap'].value_counts()

lap
1     20
3     20
4     20
5     20
6     20
      ..
30    19
31    19
32    19
65    17
66     7
Name: count, Length: 66, dtype: int64

In [193]:
race2020 = lap_times[lap_times['raceId'] == 1055]

race2020.shape

(1246, 6)

In [194]:
constructors.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [195]:
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [196]:
results_es = results[results['raceId'].isin(races_es['raceId'])]
results_es = results_es.sort_values(by='raceId', ascending=False)

results_es

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
25519,25525,1079,844,6,16,1,\N,R,20,0.0,27,\N,\N,25,13,1:27.030,193.381,101
25509,25515,1079,852,213,22,13,10,10,10,1.0,65,\N,\N,59,10,1:26.828,193.831,11
25500,25506,1079,830,9,1,2,1,1,1,25.0,66,1:37:20.475,5840475,46,4,1:25.456,196.943,1
25502,25508,1079,847,131,63,4,3,3,3,15.0,66,+32.927,5873402,53,3,1:24.636,198.851,1
25503,25509,1079,832,6,55,3,4,4,4,12.0,66,+45.208,5885683,49,7,1:25.985,195.731,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7637,7638,5,4,4,7,8,5,5,5,4.0,66,+43.166,5882368,14,6,1:23.420,200.887,1
7636,7637,5,20,9,15,2,4,4,4,5.0,66,+18.941,5858143,41,4,1:23.090,201.684,1
7635,7636,5,17,9,14,5,3,3,3,6.0,66,+13.924,5853126,18,5,1:23.112,201.631,1
7634,7635,5,22,23,23,3,2,2,2,8.0,66,+13.056,5852258,28,1,1:22.762,202.484,1
7643,7644,5,9,2,5,10,11,11,11,0.0,65,\N,\N,26,11,1:24.078,199.314,11

In [197]:
constructors_es = constructors[constructors['constructorId'].isin(results_es['constructorId'])]
constructors_es = constructors_es.sort_values(by='constructorId', ascending=False)

constructors_es.head()

,constructorId,constructorRef,name,nationality,url
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport

In [198]:
circuit_es = circuit_es.drop('url', axis=1)

circuit_es#.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109

In [199]:
circuit_es.shape

(1, 8)

In [200]:
constructors_es = constructors_es.drop('url', axis=1)

constructors_es#.head()

     constructorId constructorRef            name nationality
210            214         alpine  Alpine F1 Team      French
209            213     alphatauri      AlphaTauri     Italian
208            211   racing_point    Racing Point     British
207            210           haas    Haas F1 Team    American
206            209          manor  Manor Marussia     British
205            208       lotus_f1        Lotus F1     British
204            207       caterham        Caterham   Malaysian
203            206       marussia        Marussia     Russian
202            205   lotus_racing           Lotus   Malaysian
164            166         virgin          Virgin     British
162            164            hrt             HRT     Spanish
129            131       mercedes        Mercedes      German
115            117   aston_martin    Aston Martin     British
49              51           alfa      Alfa Romeo       Swiss
28              29       footwork        Footwork     British
27              28          forti           Forti     Italian
26              27         ligier          Ligier      French
24              25        tyrrell         Tyrrell     British
23              24        stewart         Stewart     British
22              23          brawn           Brawn     British
21              22       benetton        Benetton     Italian
20              21         arrows          Arrows     British
19              20          prost           Prost      French
18              19         jaguar          Jaguar     British
17              18        minardi         Minardi     Italian
16              17         jordan          Jordan       Irish
15              16            bar             BAR     British
14              15         sauber          Sauber       Swiss
12              13            mf1             MF1     Russian
11              12         spyker          Spyker       Dutch
10              11          honda           Honda    Japanese
9               10    force_india     Force India      Indian
8                9       red_bull        Red Bull    Austrian
7                8    super_aguri     Super Aguri    Japanese
6                7         toyota          Toyota    Japanese
5                6        ferrari         Ferrari     Italian
4                5     toro_rosso      Toro Rosso     Italian
3                4        renault         Renault      French
2                3       williams        Williams     British
1                2     bmw_sauber      BMW Sauber      German
0                1        mclaren         McLaren     British

In [201]:
constructors_es.shape

(41, 4)

In [202]:
drivers_es['number'].unique()
drivers_es['code'].unique()

array(['ZHO', 'MSC', 'MAZ', 'TSU', 'LAT', 'ALB', 'RUS', 'NOR', 'SIR',
       'LEC', 'HAR', 'GAS', 'GIO', 'STR', 'OCO', 'VAN', 'WEH', 'PAL',
       'MER', 'SAI', 'NAS', 'VER', 'STE', 'ERI', 'KVY', 'MAG', 'BIA',
       'VDG', 'BOT', 'GUT', 'CHI', 'PIC', 'RIC', 'DAM', 'PER', 'DIR',
       'MAL', 'CHA', 'SEN', 'DIG', 'PET', 'HUL', 'KOB', 'GRO', 'ALG',
       '\\N', 'BAD', 'BUE', 'ZON', 'FRI', 'KAR', 'DLR', 'FMO', 'VIL',
       'TMO', 'KLI', 'MON', 'SPE', 'WUR', 'LIU', 'SCH', 'BAR', 'FIS',
       'VET', 'DAV', 'BUT', 'WEB', 'SUT', 'TRU', 'COU', 'MAS', 'PIQ',
       'SAT', 'GLO', 'KUB', 'RAI', 'BOU', 'NAK', 'KOV', 'ALO', 'ROS',
       'HEI', 'HAM'], dtype=object)

In [203]:
#pd.set_option('display.max_rows', 75)

result = drivers_es.loc[(drivers_es['number'] == r'\N') | (drivers_es['code'] == r'\N')]

result.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
822,823,garde,\N,VDG,Giedo,van der Garde,1985-04-25,Dutch,http://en.wikipedia.org/wiki/Giedo_van_der_Garde
818,819,pic,\N,PIC,Charles,Pic,1990-02-15,French,http://en.wikipedia.org/wiki/Charles_Pic
815,816,ambrosio,\N,DAM,Jérôme,d'Ambrosio,1985-12-27,Belgian,http://en.wikipedia.org/wiki/J%C3%A9r%C3%B4me_...
813,814,resta,\N,DIR,Paul,di Resta,1986-04-16,British,http://en.wikipedia.org/wiki/Paul_di_Resta
811,812,chandhok,\N,CHA,Karun,Chandhok,1984-01-19,Indian,http://en.wikipedia.org/wiki/Karun_Chandhok

In [204]:
drivers_es = drivers_es.drop(['number', 'code', 'url'], axis=1)

drivers_es#.head()

     driverId        driverRef  forename     surname         dob nationality
853       855             zhou    Guanyu        Zhou  1999-05-30     Chinese
852       854  mick_schumacher      Mick  Schumacher  1999-03-22      German
851       853          mazepin    Nikita     Mazepin  1999-03-02     Russian
850       852          tsunoda      Yuki     Tsunoda  2000-05-11    Japanese
847       849           latifi  Nicholas      Latifi  1995-06-29    Canadian
..        ...              ...       ...         ...         ...         ...
4           5       kovalainen    Heikki  Kovalainen  1981-10-19     Finnish
3           4           alonso  Fernando      Alonso  1981-07-29     Spanish
2           3          rosberg      Nico     Rosberg  1985-06-27      German
1           2         heidfeld      Nick    Heidfeld  1977-05-10      German
0           1         hamilton     Lewis    Hamilton  1985-01-07     British

[117 rows x 6 columns]

In [242]:
pd.set_option('display.max_rows', None)

drivers_es[['driverRef', 'forename', 'surname']]

              driverRef      forename        surname
853                zhou        Guanyu           Zhou
852     mick_schumacher          Mick     Schumacher
851             mazepin        Nikita        Mazepin
850             tsunoda          Yuki        Tsunoda
847              latifi      Nicholas         Latifi
846               albon     Alexander          Albon
845             russell        George        Russell
844              norris         Lando         Norris
843            sirotkin        Sergey       Sirotkin
842             leclerc       Charles        Leclerc
841     brendon_hartley       Brendon        Hartley
452               gasly        Pierre          Gasly
840          giovinazzi       Antonio     Giovinazzi
839              stroll         Lance         Stroll
838                ocon       Esteban           Ocon
837           vandoorne       Stoffel      Vandoorne
836            haryanto           Rio       Haryanto
835            wehrlein        Pascal       Wehrlein
834       jolyon_palmer        Jolyon         Palmer
832               merhi       Roberto          Merhi
831               sainz        Carlos          Sainz
830                nasr        Felipe           Nasr
829      max_verstappen           Max     Verstappen
828             stevens          Will        Stevens
827            ericsson        Marcus       Ericsson
825               kvyat        Daniil          Kvyat
824     kevin_magnussen         Kevin      Magnussen
823       jules_bianchi         Jules        Bianchi
822               garde         Giedo  van der Garde
821              bottas      Valtteri         Bottas
820           gutierrez       Esteban      Gutiérrez
819             chilton           Max        Chilton
818                 pic       Charles            Pic
817              vergne     Jean-Éric         Vergne
816           ricciardo        Daniel      Ricciardo
815            ambrosio        Jérôme     d'Ambrosio
814               perez        Sergio          Pérez
813               resta          Paul       di Resta
812           maldonado        Pastor      Maldonado
811            chandhok         Karun       Chandhok
810         bruno_senna         Bruno          Senna
809              grassi         Lucas      di Grassi
808              petrov        Vitaly         Petrov
807          hulkenberg          Nico     Hülkenberg
154           kobayashi         Kamui      Kobayashi
153            grosjean        Romain       Grosjean
152         alguersuari         Jaime    Alguersuari
83              brundle        Martin        Brundle
80           morbidelli        Gianni     Morbidelli
78             katayama          Ukyo       Katayama
76               berger       Gerhard         Berger
75            magnussen           Jan      Magnussen
74               nakano        Shinji         Nakano
73                tuero       Esteban          Tuero
70           damon_hill         Damon           Hill
69              zanardi    Alessandro        Zanardi
68               badoer          Luca         Badoer
67               takagi    Toranosuke         Takagi
66                buemi     Sébastien          Buemi
65               mcnish         Allan         McNish
64              herbert        Johnny        Herbert
63                diniz         Pedro          Diniz
62                 salo          Mika           Salo
59            mazzacane        Gastón      Mazzacane
58             bernoldi       Enrique       Bernoldi
57              marques         Tarso        Marques
56             hakkinen          Mika       Häkkinen
55               irvine         Eddie         Irvine
54                alesi          Jean          Alesi
53                burti       Luciano          Burti
51               firman         Ralph         Firman
50               wilson        Justin         Wilson
49           verstappen           Jos     Verstappen
48             frentzen  Heinz-Harald       Frentzen
47                 gene          Marc           Gené
46          baumgartner         Zsolt    Baumgartner
45                bruni     Gianmaria          Bruni
44              pantano       Giorgio        Pantano
43                panis       Olivier          Panis
42                matta     Cristiano       da Matta
40                zonta       Ricardo          Zonta
39           friesacher       Patrick     Friesacher
38          karthikeyan        Narain    Karthikeyan
36                 rosa         Pedro     de la Rosa
35             montagny        Franck       Montagny
34           villeneuve       Jacques     Villeneuve
32             monteiro         Tiago       Monteiro
31                klien     Christian          Klien
30              montoya          Juan  Pablo Montoya
29   michael_schumacher       Michael     Schumacher
26               albers    Christijan         Albers
25                speed         Scott          Speed
24                 wurz     Alexander           Wurz
23               liuzzi    Vitantonio         Liuzzi
22      ralf_schumacher          Ralf     Schumacher
21          barrichello        Rubens    Barrichello
20           fisichella     Giancarlo     Fisichella
19               vettel     Sebastian         Vettel
18             davidson       Anthony       Davidson
17               button        Jenson         Button
16               webber          Mark         Webber
15                sutil        Adrian          Sutil
14               trulli         Jarno         Trulli
13            coulthard         David      Coulthard
12                massa        Felipe          Massa
11            piquet_jr        Nelson     Piquet Jr.
10                 sato        Takuma           Sato
9                 glock          Timo          Glock
8                kubica        Robert         Kubica
7             raikkonen          Kimi      Räikkönen
6              bourdais     Sébastien       Bourdais
5              nakajima        Kazuki       Nakajima
4            kovalainen        Heikki     Kovalainen
3                alonso      Fernando         Alonso
2               rosberg          Nico        Rosberg
1              heidfeld          Nick       Heidfeld
0              hamilton         Lewis       Hamilton

In [205]:
drivers_es.shape

(117, 6)

In [206]:
races_es.head()

,raceId,year,round,circuitId,name,date,time,url
1062,1079,2022,6,4,Spanish Grand Prix,2022-05-22,13:00:00,http://en.wikipedia.org/wiki/2022_Spanish_Gran...
1040,1055,2021,4,4,Spanish Grand Prix,2021-05-09,13:00:00,http://en.wikipedia.org/wiki/2021_Spanish_Gran...
1023,1036,2020,6,4,Spanish Grand Prix,2020-08-16,13:10:00,http://en.wikipedia.org/wiki/2020_Spanish_Gran...
1001,1014,2019,5,4,Spanish Grand Prix,2019-05-12,13:10:00,http://en.wikipedia.org/wiki/2019_Spanish_Gran...
980,993,2018,5,4,Spanish Grand Prix,2018-05-13,13:10:00,http://en.wikipedia.org/wiki/2018_Spanish_Gran...

In [207]:
races_es['time'] = races_es['time'].replace('\\N', '14:00:00')
races_es = races_es.drop('url', axis=1)

In [208]:
races_es#.head()

      raceId  year  round  circuitId                name        date      time
1062    1079  2022      6          4  Spanish Grand Prix  2022-05-22  13:00:00
1040    1055  2021      4          4  Spanish Grand Prix  2021-05-09  13:00:00
1023    1036  2020      6          4  Spanish Grand Prix  2020-08-16  13:10:00
1001    1014  2019      5          4  Spanish Grand Prix  2019-05-12  13:10:00
980      993  2018      5          4  Spanish Grand Prix  2018-05-13  13:10:00
960      973  2017      5          4  Spanish Grand Prix  2017-05-14  12:00:00
939      952  2016      5          4  Spanish Grand Prix  2016-05-15  12:00:00
919      930  2015      5          4  Spanish Grand Prix  2015-05-10  12:00:00
901      904  2014      5          4  Spanish Grand Prix  2014-05-11  12:00:00
882      884  2013      5          4  Spanish Grand Prix  2013-05-12  12:00:00
862      864  2012      5          4  Spanish Grand Prix  2012-05-13  12:00:00
843      845  2011      5          4  Spanish Grand Prix  2011-05-22  12:00:00
340      341  2010      5          4  Spanish Grand Prix  2010-05-09  12:00:00
229      230  1996      7          4  Spanish Grand Prix  1996-06-02  14:00:00
211      212  1997      6          4  Spanish Grand Prix  1997-05-25  14:00:00
194      195  1998      5          4  Spanish Grand Prix  1998-05-10  14:00:00
178      179  1999      5          4  Spanish Grand Prix  1999-05-30  14:00:00
161      162  2000      5          4  Spanish Grand Prix  2000-05-07  14:00:00
144      145  2001      5          4  Spanish Grand Prix  2001-04-29  14:00:00
127      128  2002      5          4  Spanish Grand Prix  2002-04-28  14:00:00
111      112  2003      5          4  Spanish Grand Prix  2003-05-04  14:00:00
93        94  2004      5          4  Spanish Grand Prix  2004-05-09  14:00:00
74        75  2005      5          4  Spanish Grand Prix  2005-05-08  14:00:00
57        58  2006      6          4  Spanish Grand Prix  2006-05-14  14:00:00
38        39  2007      4          4  Spanish Grand Prix  2007-05-13  12:00:00
20        21  2008      4          4  Spanish Grand Prix  2008-04-27  12:00:00
4          5  2009      5          4  Spanish Grand Prix  2009-05-10  12:00:00

In [209]:
races_es.shape

(27, 7)

In [210]:
quali_lap_es = quali_lap_es

quali_lap_es#.head()

       raceId  driverId  constructorId  position   lap
0        1079       849              3        20   1.0
1        1079       849              3        20   2.0
2        1079       849              3        20   3.0
3        1079       849              3        20   4.0
4        1079       849              3        20  23.0
...       ...       ...            ...       ...   ...
25463       5         3              3         9  58.0
25464       5         3              3         9  59.0
25465       5         3              3         9  60.0
25466       5         3              3         9  61.0
25467       5         3              3         9  62.0

[25448 rows x 5 columns]

In [211]:
quali_lap_es.shape

(25448, 5)

In [212]:
result = quali_lap_es.loc[(quali_lap_es['position'] == r'\N') | (lap_times_es['lap'] == r'\N')]

result

Empty DataFrame
Columns: [raceId, driverId, constructorId, position, lap]
Index: []

In [213]:
circuit_es

,circuitId,circuitRef,name,location,country,lat,lng,alt
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109

In [214]:
races_es.head()

      raceId  year  round  circuitId                name        date      time
1062    1079  2022      6          4  Spanish Grand Prix  2022-05-22  13:00:00
1040    1055  2021      4          4  Spanish Grand Prix  2021-05-09  13:00:00
1023    1036  2020      6          4  Spanish Grand Prix  2020-08-16  13:10:00
1001    1014  2019      5          4  Spanish Grand Prix  2019-05-12  13:10:00
980      993  2018      5          4  Spanish Grand Prix  2018-05-13  13:10:00

In [215]:
races_es.shape

(27, 7)

In [216]:
race_circ_es = circuit_es.merge(races_es, on='circuitId', how='left')

race_circ_es.head()

,circuitId,circuitRef,name_x,location,country,lat,lng,alt,raceId,year,round,name_y,date,time
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1055,2021,4,Spanish Grand Prix,2021-05-09,13:00:00
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1036,2020,6,Spanish Grand Prix,2020-08-16,13:10:00
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1014,2019,5,Spanish Grand Prix,2019-05-12,13:10:00
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,993,2018,5,Spanish Grand Prix,2018-05-13,13:10:00

In [217]:
quali_lap_es#.head()

       raceId  driverId  constructorId  position   lap
0        1079       849              3        20   1.0
1        1079       849              3        20   2.0
2        1079       849              3        20   3.0
3        1079       849              3        20   4.0
4        1079       849              3        20  23.0
...       ...       ...            ...       ...   ...
25463       5         3              3         9  58.0
25464       5         3              3         9  59.0
25465       5         3              3         9  60.0
25466       5         3              3         9  61.0
25467       5         3              3         9  62.0

[25448 rows x 5 columns]

In [218]:
race_circ_lap_es = race_circ_es.merge(quali_lap_es, on='raceId', how='left')

race_circ_lap_es.head()

,circuitId,circuitRef,name_x,location,country,lat,lng,alt,raceId,year,round,name_y,date,time,driverId,constructorId,position,lap
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,1.0
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,2.0
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,3.0
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,4.0
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,23.0

In [219]:
race_circ_lap_es.shape

(25453, 18)

In [220]:
drivers_es.head()

     driverId        driverRef  forename     surname         dob nationality
853       855             zhou    Guanyu        Zhou  1999-05-30     Chinese
852       854  mick_schumacher      Mick  Schumacher  1999-03-22      German
851       853          mazepin    Nikita     Mazepin  1999-03-02     Russian
850       852          tsunoda      Yuki     Tsunoda  2000-05-11    Japanese
847       849           latifi  Nicholas      Latifi  1995-06-29    Canadian

In [221]:
drivers_es.shape

(117, 6)

In [222]:
race_circ_lap_driv_es = race_circ_lap_es.merge(drivers_es, on='driverId', how='left')

race_circ_lap_driv_es.head()

,circuitId,circuitRef,name_x,location,country,lat,lng,alt,raceId,year,round,name_y,date,time,driverId,constructorId,position,lap,driverRef,forename,surname,dob,nationality
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,1.0,latifi,Nicholas,Latifi,1995-06-29,Canadian
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,2.0,latifi,Nicholas,Latifi,1995-06-29,Canadian
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,3.0,latifi,Nicholas,Latifi,1995-06-29,Canadian
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,4.0,latifi,Nicholas,Latifi,1995-06-29,Canadian
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,23.0,latifi,Nicholas,Latifi,1995-06-29,Canadian

In [223]:
constructors_es.head()

     constructorId constructorRef            name nationality
210            214         alpine  Alpine F1 Team      French
209            213     alphatauri      AlphaTauri     Italian
208            211   racing_point    Racing Point     British
207            210           haas    Haas F1 Team    American
206            209          manor  Manor Marussia     British

In [224]:
constructors_es.shape

(41, 4)

In [225]:
pd.set_option('display.max_columns', 30)

race_circ_lap_driv_cons_es = race_circ_lap_driv_es.merge(constructors_es, on='constructorId', how='left')

race_circ_lap_driv_cons_es.head()

,circuitId,circuitRef,name_x,location,country,lat,lng,alt,raceId,year,round,name_y,date,time,driverId,constructorId,position,lap,driverRef,forename,surname,dob,nationality_x,constructorRef,name,nationality_y
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,1.0,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,Williams,British
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,2.0,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,Williams,British
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,3.0,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,Williams,British
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,4.0,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,Williams,British
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,23.0,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,Williams,British

In [226]:
race_circ_lap_driv_cons_es.shape

(25453, 26)

In [227]:
race_circ_lap_driv_cons_es.columns

Index(['circuitId', 'circuitRef', 'name_x', 'location', 'country', 'lat',
       'lng', 'alt', 'raceId', 'year', 'round', 'name_y', 'date', 'time',
       'driverId', 'constructorId', 'position', 'lap', 'driverRef', 'forename',
       'surname', 'dob', 'nationality_x', 'constructorRef', 'name',
       'nationality_y'],
      dtype='object')

In [228]:
race_circ_lap_driv_cons_es = race_circ_lap_driv_cons_es.rename(columns={
'name_x': 'name',
'name_y': 'grand_prix',
'nationality_x': 'driver_nationality',
'nationality_y': 'const_nationality'
})

race_circ_lap_driv_cons_es.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,raceId,year,round,grand_prix,date,time,driverId,constructorId,position,lap,driverRef,forename,surname,dob,driver_nationality,constructorRef,name,const_nationality
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,1.0,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,Williams,British
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,2.0,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,Williams,British
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,3.0,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,Williams,British
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,4.0,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,Williams,British
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,23.0,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,Williams,British

In [234]:
safety = safety[safety['Grand Prix'] == 'Spanish Grand Prix']

safety = safety.rename(columns={
'Grand Prix': 'grand_prix',
'Cause': 'cause',
'Deployed (lap)': 'deployed_lap',
'Called in (lap)': 'called_in_lap',
'Number of full laps': 'number_full_laps',
'Year': 'year'
})

safety.head()

,grand_prix,cause,deployed_lap,called_in_lap,number_full_laps,year
13,Spanish Grand Prix,Stranded car,8,10,1,2021
46,Spanish Grand Prix,Accident,46,52,5,2019
64,Spanish Grand Prix,Accident,1,6,4,2018
189,Spanish Grand Prix,Accident,1,5,3,2009
204,Spanish Grand Prix,Accident,1,4,2,2008

In [235]:
race_circ_lap_driv_cons_es['safety_car'] = ((race_circ_lap_driv_cons_es['year'] == 2021) & (race_circ_lap_driv_cons_es['lap'].isin([8, 9, 10]))) | ((race_circ_lap_driv_cons_es['year'] == 2019) & (race_circ_lap_driv_cons_es['lap'].isin([46, 47, 48, 49, 50, 51, 52])) | (race_circ_lap_driv_cons_es['year'] == 2018) & (race_circ_lap_driv_cons_es['lap'].isin([1, 2, 3, 4, 5, 6])) | (race_circ_lap_driv_cons_es['year'] == 2009) & (race_circ_lap_driv_cons_es['lap'].isin([1, 2, 3, 4, 5])) | (race_circ_lap_driv_cons_es['year'] == 2008) & (race_circ_lap_driv_cons_es['lap'].isin([1, 2, 3, 4])))

race_circ_lap_driv_cons_es.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,raceId,year,round,grand_prix,date,time,driverId,constructorId,position,lap,driverRef,forename,surname,dob,driver_nationality,constructorRef,name,const_nationality,safety_car
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,1.0,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,Williams,British,False
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,2.0,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,Williams,British,False
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,3.0,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,Williams,British,False
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,4.0,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,Williams,British,False
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,849.0,3.0,20.0,23.0,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,Williams,British,False

In [238]:
race_circ_lap_driv_cons_es['safety_car'].value_counts()

safety_car
False    25008
True       445
Name: count, dtype: int64

In [ ]:
d_points = d_points.drop(['Nationality', 'Year'], axis=1)

d_points = d_points.rename(columns={
'Driver': 'driver',
'Team': 'team',
'Points': 'driver_points'
})

d_points.head()

In [ ]:
c_points = c_points.drop('Year', axis=1)

c_points = c_points.rename(columns={
'Team': 'team',
'Points': 'const_points'
})

c_points.head()