In [52]:
import pandas as pd
import numpy as np

In [53]:
circuits = pd.read_csv('../data/circuits.csv')
constructors = pd.read_csv('../data/constructors.csv')
drivers = pd.read_csv('../data/drivers.csv')
races = pd.read_csv('../data/races.csv')
results = pd.read_csv('../data/results.csv')
d_points = pd.read_csv('../data/driver_points_es.csv')
c_points = pd.read_csv('../data/constructor_points_es.csv')
weather = pd.read_csv('../data/weather_es.csv')
safety = pd.read_csv('../data/safety_car.csv')

# Análisis del dataframe

---

Procedemos a acomodar los distintos dataframes, filtrando por los grandes premios de España y acomodando los dataframes según nuestros intereses

In [54]:
circuits.shape

(77, 9)

In [55]:
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [56]:
circuits['name'].unique()

array(['Albert Park Grand Prix Circuit', 'Sepang International Circuit',
       'Bahrain International Circuit', 'Circuit de Barcelona-Catalunya',
       'Istanbul Park', 'Circuit de Monaco', 'Circuit Gilles Villeneuve',
       'Circuit de Nevers Magny-Cours', 'Silverstone Circuit',
       'Hockenheimring', 'Hungaroring', 'Valencia Street Circuit',
       'Circuit de Spa-Francorchamps', 'Autodromo Nazionale di Monza',
       'Marina Bay Street Circuit', 'Fuji Speedway',
       'Shanghai International Circuit', 'Autódromo José Carlos Pace',
       'Indianapolis Motor Speedway', 'Nürburgring',
       'Autodromo Enzo e Dino Ferrari', 'Suzuka Circuit',
       'Las Vegas Strip Street Circuit', 'Yas Marina Circuit',
       'Autódromo Juan y Oscar Gálvez', 'Circuito de Jerez',
       'Autódromo do Estoril', 'Okayama International Circuit',
       'Adelaide Street Circuit', 'Kyalami', 'Donington Park',
       'Autódromo Hermanos Rodríguez', 'Phoenix street circuit',
       'Circuit Paul Ricard', 'Korean International Circuit',
       'Autódromo Internacional Nelson Piquet', 'Detroit Street Circuit',
       'Brands Hatch', 'Circuit Park Zandvoort', 'Zolder',
       'Dijon-Prenois', 'Fair Park', 'Long Beach',
       'Las Vegas Street Circuit', 'Jarama', 'Watkins Glen',
       'Scandinavian Raceway', 'Mosport International Raceway',
       'Montjuïc', 'Nivelles-Baulers', 'Charade Circuit',
       'Circuit Mont-Tremblant', 'Rouen-Les-Essarts', 'Le Mans',
       'Reims-Gueux', 'Prince George Circuit', 'Zeltweg', 'Aintree',
       'Circuito da Boavista', 'Riverside International Raceway', 'AVUS',
       'Monsanto Park Circuit', 'Sebring International Raceway',
       'Ain Diab', 'Pescara Circuit', 'Circuit Bremgarten',
       'Circuit de Pedralbes', 'Buddh International Circuit',
       'Circuit of the Americas', 'Red Bull Ring', 'Sochi Autodrom',
       'Baku City Circuit', 'Autódromo Internacional do Algarve',
       'Autodromo Internazionale del Mugello', 'Jeddah Corniche Circuit',
       'Losail International Circuit', 'Miami International Autodrome'],
      dtype=object)

In [57]:
circuit_es = circuits[circuits['name'] == 'Circuit de Barcelona-Catalunya']     # filtramos por el Circuit de Barcelona-Catalunya
circuit_es = circuit_es.drop('url', axis=1)     # borramos la columna 'url' debido a que no nos interesa
circuit_es = circuit_es.sort_values(by='circuitId', ascending=False)

circuit_es

,circuitId,circuitRef,name,location,country,lat,lng,alt
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109

In [58]:
races.shape

(1102, 18)

In [59]:
races.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [60]:
races['name'].value_counts().head(10)       # buscamos el gran premio de España

name
Italian Grand Prix          74
British Grand Prix          74
Monaco Grand Prix           69
Belgian Grand Prix          68
German Grand Prix           64
French Grand Prix           62
Spanish Grand Prix          53
Canadian Grand Prix         52
Brazilian Grand Prix        48
United States Grand Prix    44
Name: count, dtype: int64

In [61]:
races_es = races[(races['name'] == 'Spanish Grand Prix') & (races['year'].between(1996, 2022))]     # filtramos por los grandes premios de España a partir del año en el cuál empezamos a tener registros fiables de safety cars
races_es = races_es.drop(['fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time', 'url'], axis=1)        # eliminamos las siguientes columnas por falta de datos
races_es = races_es.sort_values(by='raceId', ascending=False)

races_es.head()

      raceId  year  round  circuitId                name        date      time
1062    1079  2022      6          4  Spanish Grand Prix  2022-05-22  13:00:00
1040    1055  2021      4          4  Spanish Grand Prix  2021-05-09  13:00:00
1023    1036  2020      6          4  Spanish Grand Prix  2020-08-16  13:10:00
1001    1014  2019      5          4  Spanish Grand Prix  2019-05-12  13:10:00
980      993  2018      5          4  Spanish Grand Prix  2018-05-13  13:10:00

In [62]:
races_es['time'].value_counts()

time
12:00:00    11
\N           9
13:10:00     3
13:00:00     2
14:00:00     2
Name: count, dtype: int64

In [63]:
races_es['time'] = races_es['time'].replace('\\N', '14:00:00')      # reemplazamos los valores faltantes con los datos que averiguamos

races_es['time'].value_counts()

time
12:00:00    11
14:00:00    11
13:10:00     3
13:00:00     2
Name: count, dtype: int64

In [64]:
races_es.head()

      raceId  year  round  circuitId                name        date      time
1062    1079  2022      6          4  Spanish Grand Prix  2022-05-22  13:00:00
1040    1055  2021      4          4  Spanish Grand Prix  2021-05-09  13:00:00
1023    1036  2020      6          4  Spanish Grand Prix  2020-08-16  13:10:00
1001    1014  2019      5          4  Spanish Grand Prix  2019-05-12  13:10:00
980      993  2018      5          4  Spanish Grand Prix  2018-05-13  13:10:00

In [65]:
races_es.shape

(27, 7)

In [66]:
results.shape

(25840, 18)

In [67]:
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [68]:
results_es = results[results['raceId'].isin(races_es['raceId'])]
results_es = results_es.drop(['number', 'position', 'positionText', 'positionOrder', 'points', 'laps', 'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime', 'fastestLapSpeed', 'statusId'], axis=1)
results_es = results_es.sort_values(by='raceId', ascending=False)       # nos quedamos unicamente con la posición de parrila debido a que lo demás son datos que no tendremos

len(results_es['raceId'].unique()) == len(races_es['raceId'].unique())      # chequeamos las longitudes de la columna 'raceId' en ambos dataframes para asegurarnos de que esten las mismas carreras

True

In [69]:
results_es.head()

       resultId  raceId  driverId  constructorId  grid
25519     25525    1079       844              6     1
25509     25515    1079       852            213    13
25500     25506    1079       830              9     2
25502     25508    1079       847            131     4
25503     25509    1079       832              6     3

In [70]:
results_es.shape

(575, 5)

In [71]:
drivers.shape

(857, 9)

In [72]:
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [73]:
drivers_es = drivers[drivers['driverId'].isin(results_es['driverId'])]        # filtramos por el driverId de el dataframe ya filtrado de los grandes premios de España   
drivers_es = drivers_es.drop(['number', 'code', 'url'], axis=1)
drivers_es = drivers_es.sort_values(by='driverId', ascending=False)

drivers_es.head()

     driverId        driverRef  forename     surname         dob nationality
853       855             zhou    Guanyu        Zhou  1999-05-30     Chinese
852       854  mick_schumacher      Mick  Schumacher  1999-03-22      German
851       853          mazepin    Nikita     Mazepin  1999-03-02     Russian
850       852          tsunoda      Yuki     Tsunoda  2000-05-11    Japanese
847       849           latifi  Nicholas      Latifi  1995-06-29    Canadian

In [74]:
drivers_es.shape

(122, 6)

In [75]:
constructors.shape

(211, 5)

In [76]:
constructors.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [77]:
constructors_es = constructors[constructors['constructorId'].isin(results_es['constructorId'])]
constructors_es = constructors_es.drop('url', axis=1)
constructors_es.rename(columns={'name': 'constructor_name'}, inplace=True)
constructors_es = constructors_es.drop(constructors_es[constructors_es['constructor_name'] == 'forti'].index)       # eliminamos la escudería 'forti', ya que no figura en nuestros datos de escuderias
constructors_es = constructors_es.sort_values(by='constructorId', ascending=False)

constructors_es.head()

     constructorId constructorRef constructor_name nationality
210            214         alpine   Alpine F1 Team      French
209            213     alphatauri       AlphaTauri     Italian
208            211   racing_point     Racing Point     British
207            210           haas     Haas F1 Team    American
206            209          manor   Manor Marussia     British

In [78]:
constructors_es.shape

(41, 4)

In [79]:
d_points.shape

(596, 6)

In [80]:
d_points.head()

,Driver,Nationality,Team,Points,driverRef,Year
0,Charles Leclerc,MON,FERRARI,104.0,leclerc,2022
1,Max Verstappen,NED,RED BULL RACING RBPT,85.0,max_verstappen,2022
2,Sergio Perez,MEX,RED BULL RACING RBPT,66.0,perez,2022
3,George Russell,GBR,MERCEDES,59.0,russell,2022
4,Carlos Sainz,ESP,FERRARI,53.0,sainz,2022

In [81]:
d_points = d_points.drop(['Driver', 'Nationality', 'Team'], axis=1)
d_points.rename(columns={'Points': 'driver_points', 'Year': 'year'}, inplace=True)

d_points.head()

   driver_points       driverRef  year
0          104.0         leclerc  2022
1           85.0  max_verstappen  2022
2           66.0           perez  2022
3           59.0         russell  2022
4           53.0           sainz  2022

In [82]:
d_points.shape

(596, 3)

In [83]:
c_points.shape

(278, 4)

In [84]:
c_points.head()

                   Team  Points constructorRef  Year
0               FERRARI   157.0        ferrari  2022
1  RED BULL RACING RBPT   151.0       red_bull  2022
2              MERCEDES    95.0       mercedes  2022
3      MCLAREN MERCEDES    46.0        mclaren  2022
4    ALFA ROMEO FERRARI    31.0           alfa  2022

In [85]:
c_points = c_points.drop(['Team'], axis=1)
c_points.rename(columns={'Points': 'const_points', 'Year': 'year'}, inplace=True)

c_points.head()

   const_points constructorRef  year
0         157.0        ferrari  2022
1         151.0       red_bull  2022
2          95.0       mercedes  2022
3          46.0        mclaren  2022
4          31.0           alfa  2022

In [86]:
c_points.shape

(278, 3)

In [87]:
weather.shape

(1782, 8)

In [88]:
weather.head()

   lap  year  temperature  atm_pressure  wind  visibility cloudiness  rainfall
0    1  2022           25          1011    20          10      clear     False
1    2  2022           25          1011    20          10      clear     False
2    3  2022           25          1011    20          10      clear     False
3    4  2022           25          1011    20          10      clear     False
4    5  2022           25          1011    20          10      clear     False

# Merge

---

Procedemos a realizar los distintos merges para convertir todos los dataframes en uno solo

In [89]:
races_es.head()

      raceId  year  round  circuitId                name        date      time
1062    1079  2022      6          4  Spanish Grand Prix  2022-05-22  13:00:00
1040    1055  2021      4          4  Spanish Grand Prix  2021-05-09  13:00:00
1023    1036  2020      6          4  Spanish Grand Prix  2020-08-16  13:10:00
1001    1014  2019      5          4  Spanish Grand Prix  2019-05-12  13:10:00
980      993  2018      5          4  Spanish Grand Prix  2018-05-13  13:10:00

In [90]:
circuit_es

,circuitId,circuitRef,name,location,country,lat,lng,alt
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109

In [91]:
race_circ_es = circuit_es.merge(races_es, on='circuitId', how='left')

race_circ_es.head()

,circuitId,circuitRef,name_x,location,country,lat,lng,alt,raceId,year,round,name_y,date,time
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1055,2021,4,Spanish Grand Prix,2021-05-09,13:00:00
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1036,2020,6,Spanish Grand Prix,2020-08-16,13:10:00
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1014,2019,5,Spanish Grand Prix,2019-05-12,13:10:00
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,993,2018,5,Spanish Grand Prix,2018-05-13,13:10:00

In [92]:
results_es.head()

       resultId  raceId  driverId  constructorId  grid
25519     25525    1079       844              6     1
25509     25515    1079       852            213    13
25500     25506    1079       830              9     2
25502     25508    1079       847            131     4
25503     25509    1079       832              6     3

In [93]:
race_circ_res_es = race_circ_es.merge(results_es, on='raceId', how='left')

race_circ_res_es.head()

,circuitId,circuitRef,name_x,location,country,lat,lng,alt,raceId,year,round,name_y,date,time,resultId,driverId,constructorId,grid
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25515,852,213,13
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25506,830,9,2
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25508,847,131,4
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25509,832,6,3

In [94]:
drivers_es.head()

     driverId        driverRef  forename     surname         dob nationality
853       855             zhou    Guanyu        Zhou  1999-05-30     Chinese
852       854  mick_schumacher      Mick  Schumacher  1999-03-22      German
851       853          mazepin    Nikita     Mazepin  1999-03-02     Russian
850       852          tsunoda      Yuki     Tsunoda  2000-05-11    Japanese
847       849           latifi  Nicholas      Latifi  1995-06-29    Canadian

In [95]:
race_circ_res_driv_es = race_circ_res_es.merge(drivers_es, on='driverId', how='left')

race_circ_res_driv_es.head()

,circuitId,circuitRef,name_x,location,country,lat,lng,alt,raceId,year,...,time,resultId,driverId,constructorId,grid,driverRef,forename,surname,dob,nationality
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,13:00:00,25515,852,213,13,tsunoda,Yuki,Tsunoda,2000-05-11,Japanese
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,13:00:00,25506,830,9,2,max_verstappen,Max,Verstappen,1997-09-30,Dutch
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,13:00:00,25508,847,131,4,russell,George,Russell,1998-02-15,British
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,13:00:00,25509,832,6,3,sainz,Carlos,Sainz,1994-09-01,Spanish

In [96]:
constructors_es.head()

     constructorId constructorRef constructor_name nationality
210            214         alpine   Alpine F1 Team      French
209            213     alphatauri       AlphaTauri     Italian
208            211   racing_point     Racing Point     British
207            210           haas     Haas F1 Team    American
206            209          manor   Manor Marussia     British

In [97]:
race_circ_res_driv_cons_es = race_circ_res_driv_es.merge(constructors_es, on='constructorId', how='left')

race_circ_res_driv_cons_es.head()

,circuitId,circuitRef,name_x,location,country,lat,lng,alt,raceId,year,...,constructorId,grid,driverRef,forename,surname,dob,nationality_x,constructorRef,constructor_name,nationality_y
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,213,13,tsunoda,Yuki,Tsunoda,2000-05-11,Japanese,alphatauri,AlphaTauri,Italian
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,9,2,max_verstappen,Max,Verstappen,1997-09-30,Dutch,red_bull,Red Bull,Austrian
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,131,4,russell,George,Russell,1998-02-15,British,mercedes,Mercedes,German
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,6,3,sainz,Carlos,Sainz,1994-09-01,Spanish,ferrari,Ferrari,Italian

In [98]:
d_points.head()

   driver_points       driverRef  year
0          104.0         leclerc  2022
1           85.0  max_verstappen  2022
2           66.0           perez  2022
3           59.0         russell  2022
4           53.0           sainz  2022

In [99]:
race_circ_res_driv_cons_dpts_es = race_circ_res_driv_cons_es.merge(d_points, on=['driverRef', 'year'], how='left')

race_circ_res_driv_cons_dpts_es.head()

,circuitId,circuitRef,name_x,location,country,lat,lng,alt,raceId,year,...,grid,driverRef,forename,surname,dob,nationality_x,constructorRef,constructor_name,nationality_y,driver_points
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,13,tsunoda,Yuki,Tsunoda,2000-05-11,Japanese,alphatauri,AlphaTauri,Italian,10.0
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,2,max_verstappen,Max,Verstappen,1997-09-30,Dutch,red_bull,Red Bull,Austrian,85.0
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,4,russell,George,Russell,1998-02-15,British,mercedes,Mercedes,German,59.0
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,3,sainz,Carlos,Sainz,1994-09-01,Spanish,ferrari,Ferrari,Italian,53.0

In [100]:
c_points.head()

   const_points constructorRef  year
0         157.0        ferrari  2022
1         151.0       red_bull  2022
2          95.0       mercedes  2022
3          46.0        mclaren  2022
4          31.0           alfa  2022

In [101]:
race_circ_res_driv_cons_dpts_cpts_es = race_circ_res_driv_cons_dpts_es.merge(c_points, on=['constructorRef', 'year'], how='left')

race_circ_res_driv_cons_dpts_cpts_es.head()

,circuitId,circuitRef,name_x,location,country,lat,lng,alt,raceId,year,...,driverRef,forename,surname,dob,nationality_x,constructorRef,constructor_name,nationality_y,driver_points,const_points
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,tsunoda,Yuki,Tsunoda,2000-05-11,Japanese,alphatauri,AlphaTauri,Italian,10.0,16.0
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,max_verstappen,Max,Verstappen,1997-09-30,Dutch,red_bull,Red Bull,Austrian,85.0,151.0
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,russell,George,Russell,1998-02-15,British,mercedes,Mercedes,German,59.0,95.0
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,...,sainz,Carlos,Sainz,1994-09-01,Spanish,ferrari,Ferrari,Italian,53.0,157.0

In [102]:
weather.head()

   lap  year  temperature  atm_pressure  wind  visibility cloudiness  rainfall
0    1  2022           25          1011    20          10      clear     False
1    2  2022           25          1011    20          10      clear     False
2    3  2022           25          1011    20          10      clear     False
3    4  2022           25          1011    20          10      clear     False
4    5  2022           25          1011    20          10      clear     False

In [103]:
pd.set_option('display.max_columns', 40)

sc_record_temp = race_circ_res_driv_cons_dpts_cpts_es.merge(weather, on='year', how='left')

sc_record_temp.head()

,circuitId,circuitRef,name_x,location,country,lat,lng,alt,raceId,year,round,name_y,date,time,resultId,driverId,constructorId,grid,driverRef,forename,surname,dob,nationality_x,constructorRef,constructor_name,nationality_y,driver_points,const_points,lap,temperature,atm_pressure,wind,visibility,cloudiness,rainfall
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,1,25,1011,20,10,clear,False
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,2,25,1011,20,10,clear,False
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,3,25,1011,20,10,clear,False
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,4,25,1011,20,10,clear,False
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,5,25,1011,20,10,clear,False

In [104]:
sc_record_temp.isna().sum()

circuitId              0
circuitRef             0
name_x                 0
location               0
country                0
lat                    0
lng                    0
alt                    0
raceId                 0
year                   0
round                  0
name_y                 0
date                   0
time                   0
resultId               0
driverId               0
constructorId          0
grid                   0
driverRef              0
forename               0
surname                0
dob                    0
nationality_x          0
constructorRef         0
constructor_name       0
nationality_y          0
driver_points       1320
const_points        1782
lap                    0
temperature            0
atm_pressure           0
wind                   0
visibility             0
cloudiness             0
rainfall               0
dtype: int64

In [105]:
sc_record_temp = sc_record_temp.dropna()        # eliminamos las filas que contengan nulos debido a que son correspondientes a pilotos y escuderias que no puntuaron y por eso no coinciden con nuestros otros registros, genereando así, valores nulos

In [106]:
sc_record_temp.isna().sum()

circuitId           0
circuitRef          0
name_x              0
location            0
country             0
lat                 0
lng                 0
alt                 0
raceId              0
year                0
round               0
name_y              0
date                0
time                0
resultId            0
driverId            0
constructorId       0
grid                0
driverRef           0
forename            0
surname             0
dob                 0
nationality_x       0
constructorRef      0
constructor_name    0
nationality_y       0
driver_points       0
const_points        0
lap                 0
temperature         0
atm_pressure        0
wind                0
visibility          0
cloudiness          0
rainfall            0
dtype: int64

In [107]:
sc_record_temp.shape

(35442, 35)

In [108]:
sc_record_temp.columns

Index(['circuitId', 'circuitRef', 'name_x', 'location', 'country', 'lat',
       'lng', 'alt', 'raceId', 'year', 'round', 'name_y', 'date', 'time',
       'resultId', 'driverId', 'constructorId', 'grid', 'driverRef',
       'forename', 'surname', 'dob', 'nationality_x', 'constructorRef',
       'constructor_name', 'nationality_y', 'driver_points', 'const_points',
       'lap', 'temperature', 'atm_pressure', 'wind', 'visibility',
       'cloudiness', 'rainfall'],
      dtype='object')

In [109]:
sc_record_temp = sc_record_temp.rename(columns={
'name_x': 'name',
'name_y': 'grand_prix',
'nationality_x': 'driver_nationality',
'nationality_y': 'const_nationality'
})

sc_record_temp.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,raceId,year,round,grand_prix,date,time,resultId,driverId,constructorId,grid,driverRef,forename,surname,dob,driver_nationality,constructorRef,constructor_name,const_nationality,driver_points,const_points,lap,temperature,atm_pressure,wind,visibility,cloudiness,rainfall
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,1,25,1011,20,10,clear,False
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,2,25,1011,20,10,clear,False
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,3,25,1011,20,10,clear,False
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,4,25,1011,20,10,clear,False
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,5,25,1011,20,10,clear,False

# Columnas extras

---

Procedemos a crear nuevas columnas con datos extras que obtuvimos

In [110]:
safety.shape

(301, 6)

In [111]:
safety.head()

,Grand Prix,Cause,Deployed (lap),Called in (lap),Number of full laps,Year
0,São Paulo Grand Prix,Accident (Ricciardo and Magnussen),1,6,5,2022
1,Miami Grand Prix,Accident,42,46,3,2022
2,Emilia Romagna Grand Prix,Accident (Sainz),1,4,2,2022
3,Emilia Romagna Sprint,Accident (Zhou),1,4,2,2022
4,Australian Grand Prix,Accident (Vettel),23,26,2,2022

In [112]:
safety_es = safety[safety['Grand Prix'] == 'Spanish Grand Prix']        # filtramos los safety cars que han habido por el gran premio de España
safety_es.rename(columns={'Grand Prix': 'grand_prix', 'Cause': 'cause', 'Deployed (lap)': 'deployed_lap', 'Called in (lap)': 'called_in_lap', 'Number of full laps': 'number_full_laps', 'Year': 'year'}, inplace=True)

safety_es.head()

C:\Users\usuario\AppData\Local\Temp\ipykernel_10840\3123256510.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  safety_es.rename(columns={'Grand Prix': 'grand_prix', 'Cause': 'cause', 'Deployed (lap)': 'deployed_lap', 'Called in (lap)': 'called_in_lap', 'Number of full laps': 'number_full_laps', 'Year': 'year'}, inplace=True)

,grand_prix,cause,deployed_lap,called_in_lap,number_full_laps,year
13,Spanish Grand Prix,Stranded car,8,10,1,2021
46,Spanish Grand Prix,Accident,46,52,5,2019
64,Spanish Grand Prix,Accident,1,6,4,2018
189,Spanish Grand Prix,Accident,1,5,3,2009
204,Spanish Grand Prix,Accident,1,4,2,2008

In [113]:
sc_record_temp['safety_car'] = ((sc_record_temp['year'] == 2021) & (sc_record_temp['lap'].isin([8, 9, 10]))) | ((sc_record_temp['year'] == 2019) & (sc_record_temp['lap'].isin([46, 47, 48, 49, 50, 51, 52])) | (sc_record_temp['year'] == 2018) & (sc_record_temp['lap'].isin([1, 2, 3, 4, 5, 6])) | (sc_record_temp['year'] == 2009) & (sc_record_temp['lap'].isin([1, 2, 3, 4, 5])) | (sc_record_temp['year'] == 2008) & (sc_record_temp['lap'].isin([1, 2, 3, 4])))

sc_record_temp.head()       # definimos que rellene las filas de la columna 'safety_car' con 'True' o 'False' según el registro que tenmos de safety cars

,circuitId,circuitRef,name,location,country,lat,lng,alt,raceId,year,round,grand_prix,date,time,resultId,driverId,constructorId,grid,driverRef,forename,surname,dob,driver_nationality,constructorRef,constructor_name,const_nationality,driver_points,const_points,lap,temperature,atm_pressure,wind,visibility,cloudiness,rainfall,safety_car
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,1,25,1011,20,10,clear,False,False
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,2,25,1011,20,10,clear,False,False
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,3,25,1011,20,10,clear,False,False
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,4,25,1011,20,10,clear,False,False
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,5,25,1011,20,10,clear,False,False

In [114]:
sc_record_temp['safety_car'].value_counts()

safety_car
False    34934
True       508
Name: count, dtype: int64

In [115]:
sc_record_temp['turns'] = 16        # las curvas que tiene el circuito

sc_record_temp.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,raceId,year,round,grand_prix,date,time,resultId,driverId,constructorId,grid,driverRef,forename,surname,dob,driver_nationality,constructorRef,constructor_name,const_nationality,driver_points,const_points,lap,temperature,atm_pressure,wind,visibility,cloudiness,rainfall,safety_car,turns
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,1,25,1011,20,10,clear,False,False,16
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,2,25,1011,20,10,clear,False,False,16
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,3,25,1011,20,10,clear,False,False,16
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,4,25,1011,20,10,clear,False,False,16
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,5,25,1011,20,10,clear,False,False,16

In [116]:
length_values = {1996: '4727', 1997: '4728', 1998: '4728', 1999: '4728', 2000: '4730', 2001: '4730', 2002: '4730', 2003: '4730', 2004: '4627',
                 2005: '4627', 2006: '4627', 2007: '4655', 2008: '4655', 2009: '4655', 2010: '4655', 2011: '4655', 2012: '4655', 2013: '4655',
                 2014: '4655', 2015: '4655', 2016: '4655', 2017: '4655', 2018: '4655', 2019: '4655', 2020: '4655', 2021: '4655', 2022: '4675'
                }

sc_record_temp['length'] = ''       # la longitud en km del circuito a lo largo de los años

for year in sc_record_temp['year'].unique():
    mask = sc_record_temp['year'] == year       # definimos que rellene las filas con la longitud predefinida de acuerdo al año correspondiente
    sc_record_temp.loc[mask, 'length'] = length_values[year]

sc_record_temp.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,raceId,year,round,grand_prix,date,time,resultId,driverId,constructorId,grid,driverRef,forename,surname,dob,driver_nationality,constructorRef,constructor_name,const_nationality,driver_points,const_points,lap,temperature,atm_pressure,wind,visibility,cloudiness,rainfall,safety_car,turns,length
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,1,25,1011,20,10,clear,False,False,16,4675
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,2,25,1011,20,10,clear,False,False,16,4675
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,3,25,1011,20,10,clear,False,False,16,4675
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,4,25,1011,20,10,clear,False,False,16,4675
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,5,25,1011,20,10,clear,False,False,16,4675

In [117]:
sc_record_temp.shape

(35442, 38)

In [118]:
sc_record_temp.length.value_counts()

length
4655    21120
4730     4950
4627     3564
4728     3432
4675     1320
4727     1056
Name: count, dtype: int64

In [119]:
sc_record_temp.isna().sum()

circuitId             0
circuitRef            0
name                  0
location              0
country               0
lat                   0
lng                   0
alt                   0
raceId                0
year                  0
round                 0
grand_prix            0
date                  0
time                  0
resultId              0
driverId              0
constructorId         0
grid                  0
driverRef             0
forename              0
surname               0
dob                   0
driver_nationality    0
constructorRef        0
constructor_name      0
const_nationality     0
driver_points         0
const_points          0
lap                   0
temperature           0
atm_pressure          0
wind                  0
visibility            0
cloudiness            0
rainfall              0
safety_car            0
turns                 0
length                0
dtype: int64

### Últimos detalles

---

Finalmente, modificamos los nombres de las columnas y nos aseguramos de que todo esté correcto

In [120]:
sc_record_es = sc_record_temp.rename(columns = {'name': 'circuit_name', 'driver_nationality': 'driver_nat', 'grid': 'grid_position',
                                              'constructor_name': 'const_name', 'const_nationality': 'const_nat', 'constructor_points': 'const_points'})

sc_record_es.head()

,circuitId,circuitRef,circuit_name,location,country,lat,lng,alt,raceId,year,round,grand_prix,date,time,resultId,driverId,constructorId,grid_position,driverRef,forename,surname,dob,driver_nat,constructorRef,const_name,const_nat,driver_points,const_points,lap,temperature,atm_pressure,wind,visibility,cloudiness,rainfall,safety_car,turns,length
0,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,1,25,1011,20,10,clear,False,False,16,4675
1,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,2,25,1011,20,10,clear,False,False,16,4675
2,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,3,25,1011,20,10,clear,False,False,16,4675
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,4,25,1011,20,10,clear,False,False,16,4675
4,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57,2.26111,109,1079,2022,6,Spanish Grand Prix,2022-05-22,13:00:00,25525,844,6,1,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,104.0,157.0,5,25,1011,20,10,clear,False,False,16,4675

In [121]:
sc_record_es.shape

(35442, 38)

In [122]:
sc_record = sc_record_es.to_csv('../data/safety_car_es.csv', index = False)